.inicio-imagen {
  margin-top: 11%;
}

.inicio-imagen img {
  width: 700px;
  height: 550px;
}

.container-login-inicio {
  margin-left: 70rem;
  margin-top: -16%;
}

.conteiner-inicio-descr {
  margin-top: -10%;
  width: 700px;
  margin-left: 35%;
}

div h4{
  font-size: 32px;
  color: #0C0C20;
  text-align: center;
  width: 100%;
  font-weight: bold;

}

@media screen and (max-width: 1700px) {
  .inicio-imagen {
    margin-top: 11%;
    margin-left: -5rem;
  }

  .inicio-imagen img {
    width: 700px;
    height: 550px;
  }

  .container-login-inicio {
    margin-left: 60rem;
    margin-top: -18%;
  }
}

@media screen and (max-width: 1600px) {
  .inicio-imagen {
    margin-top: 11%;
    margin-left: -5rem;
  }

  .inicio-imagen img {
    width: 700px;
    height: 550px;
  }

  .container-login-inicio {
    margin-left: 56rem;
    margin-top: -19%;
  }
}

@media screen and (max-width: 1432px) {
  .inicio-imagen {
    margin-left: -9rem;
    margin-top: 10rem;
  }

  .inicio-imagen img {
    width: 700px;
    height: 550px;
  }

  .container-login-inicio {
    margin-left: 55rem;
    margin-top: -19%;
  }
}

@media screen and (max-width: 1280px) {
  .inicio-imagen {
    margin-left: -10rem;
    margin-top: 10rem;
  }

  .inicio-imagen img {
    width: 600px;
    height: 550px;
  }

  .container-login-inicio {
    margin-left: 48rem;
    margin-top: -20%;
  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}
@media screen and (max-width: 1180px) {
  .conteiner-inicio-descr {
    margin-top: -10%;
    width: 700px;
    margin-left: 30%;
  }

  .inicio-imagen {
    margin-left: -9rem;
    margin-top: 10rem;
  }

  .inicio-imagen img {
    width: 500px;
    height: 500px;
  }

  .container-login-inicio {
    margin-left: 41rem;
    margin-top: -20%;
  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

@media screen and (max-width: 1000px) {
  .inicio-imagen {
    margin-left: -10rem;
    margin-top: 10rem;
  }

  .inicio-imagen img {
    width: 500px;
    height: 500px;
  }

  .container-login-inicio {
    margin-left: 38rem;
    margin-top: -22%;
  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

@media screen and (max-width: 970px) {
  .inicio-imagen {
    margin-left: 0rem;
    margin-top: 42rem;
  }
  .conteiner-inicio-descr {
    margin-top: 50%;
    width: 700px;
    margin-left: 13%;
  }

  div h4{
    font-size: 25px;
    color: #0C0C20;
    text-align: center;
    width: 100%;
    font-weight: bold;
  
  }

  .inicio-imagen img {
    width: 500px;
    height: 500px;
  }

  .container-login-inicio {
    margin-left: 9rem;
    margin-top: -100%;

  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}
@media screen and (max-width: 850px) {
  .inicio-imagen {
    margin-left: -2rem;
    margin-top: 42rem;
  }

  .inicio-imagen img {
    width: 500px;
    height: 500px;
  }

  .container-login-inicio {
    margin-left: 9rem;
    margin-top: -100%;

  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

@media screen and (max-width: 800px) {
  .inicio-imagen {
    margin-left: -5rem;
    margin-top: 42rem;
  }

  .inicio-imagen img {
    width: 500px;
    height: 500px;
  }

  .container-login-inicio {
    margin-left: 9rem;
    margin-top: -100%;

  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

@media screen and (max-width: 700px) {
  .inicio-imagen {
    margin-left: -7rem;
    margin-top: 42rem;
  }

  .inicio-imagen img {
    width: 500px;
    height: 500px;
  }

  .container-login-inicio {
    margin-left: 9rem;
    margin-top: -105%;

  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .conteiner-inicio-descr {
    margin-top: 50%;
    width: 500px;
    margin-left: 28%;
  }

}

@media screen and (max-width: 650px) {
  .inicio-imagen {
    margin-left: -9rem;
    margin-top: 42rem;
  }

  .inicio-imagen img {
    width: 500px;
    height: 500px;
  }

  .container-login-inicio {
    margin-left: 9rem;
    margin-top: -105%;

  }
  .conteiner-inicio-descr {
    margin-top: 50%;
    width: 500px;
    margin-left: 28%;
  }
  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}
@media screen and (max-width: 600px) {
  .inicio-imagen {
    margin-left: -10rem;
    margin-top: 42rem;
  }

  .inicio-imagen img {
    width: 500px;
    height: 500px;
  }

  .container-login-inicio {
    margin-left: 9rem;
    margin-top: -109%;

  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

@media screen and (max-width: 550px) {
  .inicio-imagen {
    margin-left: -9.5rem;
    margin-top: 42rem;
  }

  .inicio-imagen img {
    width: 450px;
    height: 450px;
  }

  .conteiner-inicio-descr {
    margin-top: 50%;
    width: 500px;
    margin-left: 23%;
  }

  .container-login-inicio {
    margin-left: 6rem;
    margin-top: -112%;

  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

@media screen and (max-width: 500px) {
  .inicio-imagen {
    margin-left: -10rem;
    margin-top: 42rem;
  }


  .inicio-imagen img {
    width: 430px;
    height: 430px;
  }

  .container-login-inicio {
    margin-left: 6rem;
    margin-top: -122%;

  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .conteiner-inicio-descr {
    margin-top: 60%;
    width: 350px;
    margin-left: 35%;
  }
  div h4{
    font-size: 18px;
    color: #0C0C20;
    text-align: center;
    width: 100%;
    font-weight: bold;
  
  }
}

@media screen and (max-width: 480px) {
  .inicio-imagen {
    margin-left: -9rem;
    margin-top: 42rem;
  }

  .inicio-imagen img {
    width: 380px;
    height: 380px;
  }

  .container-login-inicio {
    margin-left: 4rem;
    margin-top: -122%;

  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

@media screen and (max-width: 450px) {
  .inicio-imagen {
    margin-left: -10rem;
    margin-top: 42rem;
  }

  .inicio-imagen img {
    width: 380px;
    height: 380px;
  }

  .container-login-inicio {
    margin-left: 4rem;
    margin-top: -122%;

  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }


}

@media screen and (max-width: 380px) {
  .inicio-imagen {
    margin-left: -10rem;
    margin-top: 42rem;
  }

  .inicio-imagen img {
    width: 300px;
    height: 300px;
  }

  .container-login-inicio {
    margin-left: 1.3rem;
    margin-top: -122%;
  }

  .content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}