.inicio-imagen {
  margin-top: 11%;
}

.inicio-imagen img {
  width: 700px;
  height: 550px;
}

.container-login-inicio {
  margin-left: 70rem;
  margin-top: -16%;
}


@media screen and (max-width: 1700px) {
  .inicio-imagen {
    margin-top: 11%;
    margin-left: -5rem;
  }

  .inicio-imagen img {
    width: 700px;
    height: 550px;
  }

  .container-login-inicio {
    margin-left: 56rem;
    margin-top: -19%;
  }
}

@media screen and (max-width: 1432px) {
  .inicio-imagen {
    margin-left: -5rem;
    margin-top: 10rem;
  }

  .inicio-imagen img {
    width: 700px;
    height: 550px;
  }

  .container-login-inicio {
    margin-left: 50rem;
    margin-top: -20%;
  }
}

@media screen and (max-width: 1280px) {
  .inicio-imagen {
    margin-left: -9rem;
    margin-top: 10rem;
  }

  .inicio-imagen img {
    width: 600px;
    height: 550px;
  }

  .container-login-inicio {
    margin-left: 50rem;
    margin-top: -20%;
  }

  .content{
    overflow-x: hidden;
  }

}
@media screen and (max-width: 1180px) {
  .inicio-imagen {
    margin-left: -10rem;
    margin-top: 10rem;
  }

  .inicio-imagen img {
    width: 500px;
    height: 500px;
  }

  .container-login-inicio {
    margin-left: 40rem;
    margin-top: -20%;
  }

  .content{
    overflow-x: hidden;
  }

}
