<div>
  <h1 class="global-title">Ayuda en el diagnostico</h1>
  <div class="description-text-conteiner">
  <h4 class="description-text">Podés subir imágenes, realizar el diagnóstico y verificar el resultado con la ayuda de nuestros modelos de inteligencia artificial</h4>
  </div>
  <div class="description-conteiner-foto">
    <img src="assets/img/descripcion.png" alt="Descripción de la imagen" width="800" height="400"  >
    </div>
</div>
<div class="description-conteiner2">
  <h1 class="global-title">Nuestro equipo</h1>
  <div class="description-text-conteiner">
  <h4 class="description-text">Somos estudiantes y docentes de la Universidad Nacional de General Sarmiento trabajando en este proyecto</h4>
  <div class="nuestro-equipo-container">
    <img src="assets/img/nuestro-equipo.png" alt="Descripción de la imagen" width="800" height="400"  >
    </div>
  </div>
</div>
