
div h4{
  font-size: 32px;
  color: #0C0C20;
  text-align: center;
  width: 100%;
  font-weight: normal;
}
.description-text-conteiner {
  width: 45%;
  margin-left: 27%;
}
.description-conteiner2 {
  margin-top: 23rem;
}
.description-conteiner-foto {
  margin-left: 30%;
}
.nuestro-equipo-container {
  margin-left: 5%;
}
