<body>
<div class="view">
  <app-header class="container-header-inicio" />

  <div class="container-content-inicio">
    <div class="content">
      <div class="inicio-imagen">
          <div class="fondo-inicio-conteiner">
          <img src="assets/img/fondo-inicio.png" alt="Descripción de la imagen" style="margin-left: 12rem;">
         </div>
          <div class="container-login-inicio">
              <app-login></app-login>
          </div>
          <div class="conteiner-inicio-descr">
              <h4>Brindando asistencia a los profesionales para colaborar con el diagnostico médico</h4>
          </div>
      </div>
  
  </div>
  
  </div>

  <div class="container-description-inicio">
  <div>
    <h1 class="global-title">Ayuda en el diagnostico</h1>
    <div class="description-text-conteiner">
    <h4 class="description-text">Podés subir imágenes, realizar el diagnóstico y verificar el resultado con la ayuda de nuestros modelos de inteligencia artificial</h4>
    <div class="description-conteiner-foto">
      <img src="assets/img/descripcion.png" alt="Descripción de la imagen" width="800px" height="400px"  >
      </div>
  </div>
  
  </div>
  <div class="description-conteiner2">
    <h1 class="global-title">Nuestro equipo</h1>
    <div class="description-text-conteiner">
    <h4 class="description-text">Somos estudiantes y docentes de la Universidad Nacional de General Sarmiento trabajando en este proyecto</h4>
    <div class="nuestro-equipo-container">
      <img src="assets/img/nuestro-equipo.png" alt="Descripción de la imagen" width="800" height="400"  >
      </div>
    </div>
  </div>
  
</div>


</div>


<div class="view-footer">
  <app-footer class="container-footer"></app-footer>
</div>


</body>
