<body>
<div class="view">
  <app-header class="container-header-inicio" />

  <div class="container-content-inicio">

    <div class="content">
      <div class="inicio-imagen">
          <img src="assets/img/fondo-inicio.png" alt="Descripción de la imagen" >
        </div>
          <div class="container-login-inicio">
              <app-login></app-login>
          </div>
        </div>

          <div class="conteiner-inicio-descr">
            <div class="title-description">
              <h1 class="title4">Brindando asistencia a los profesionales para colaborar con el diagnostico médico</h1>
            </div>
          </div>

  </div>

  <div class="container-description-inicio">

  <div class="container1-description-inicio">
    <h1 class="display1">Ayuda en el diagnostico</h1>
    <div class="description-text-conteiner">
    <h4 class="paragraph1">Optimice sus evaluaciones y descubra nuevas perspectivas con nuestros modelos de inteligencia artificial en la interpretación de imágenes médicas</h4>
  </div>

    <div class="description-conteiner-foto">

        <div class="conteiner-foto">
            <img src="assets/img/1.png" alt="Descripción de la imagen">
        </div>
        <div class="conteiner-foto">
            <img src="assets/img/2.png" alt="Descripción de la imagen">
        </div>
        <div class="conteiner-foto">
            <img src="assets/img/3.png" alt="Descripción de la imagen">
        </div>
        <div class="conteiner-foto">
            <img src="assets/img/4.png" alt="Descripción de la imagen">
        </div>

    </div>
      </div>


  <div class="description-conteiner2">
    <h1 class="display1">Nuestro equipo</h1>
    <div class="description-text-conteiner">
    <h4 class="paragraph1">Somos estudiantes y docentes de la Universidad Nacional de General Sarmiento trabajando en este proyecto</h4>
    </div>
    <div class="nuestro-equipo-container">
      <img src="assets/img/nuestro-equipo.png" alt="Descripción de la imagen" width="800" height="400"  >
      </div>
  </div>

</div>


</div>


<div class="view-footer">
  <app-footer class="container-footer"></app-footer>
</div>


</body>
