
.inicio-imagen img {
  width: 700px;
  height: 592px;
  
}

.container-content-inicio {
  display: contents;
  align-items: center; /* Centra verticalmente */
  justify-content: center;
  height: 100vh;
  margin-top: 0vh;
}

.content {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center;
  height: 80vh;
  max-width: 100%;
  margin-top: 3vh;
}


.inicio-imagen {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center;
  max-width: 100%; /* Ajusta el tamaño de la imagen automáticamente */
}

.container-login-inicio {
  max-width: 100%;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center;
  margin-left: 15vh; /* Agrega un margen izquierdo entre el login y la imagen */
}

.conteiner-inicio-descr {
  display: flex;
  flex-direction: column; /* Coloca el título debajo del contenido */
  text-align: center;
  align-items: center; /* Centra verticalmente */
  margin-top: -1%; /* Espacio entre el login y el título */
}

.title-description {
  text-align: center;
  width: 40%;
}

@media screen and (max-width: 1723px) {
  .title-description {
    width: 50%;
  }
  .conteiner-inicio-descr {
    margin-top: -1.5%; /* Espacio entre el login y el título */
  }
}

@media screen and (max-width: 1372px) {
  .title-description {
    width: 60%;
  }
  .container-login-inicio {
    margin-left: 5vh; /* Agrega un margen izquierdo entre el login y la imagen */
  
  }
}

@media screen and (max-width: 1285px) {
  .title-description {
    width: 60%;
  }

  .inicio-imagen img {
    width: 620px;
    height: 550px;
  }

  .container-login-inicio {
    margin-left: 5vh; /* Agrega un margen izquierdo entre el login y la imagen */
  }
}

@media screen and (max-width: 1146px) {
  .title-description {
    width: 70%;
  }
}

@media screen and (max-width: 1080px) {
  .title-description {
    width: 70%;
  }

  .inicio-imagen img {
    width: 500px;
    height: 492px;
  }

  .container-login-inicio {
    margin-left: 5vh; /* Agrega un margen izquierdo entre el login y la imagen */
  }
}

@media screen and (max-width: 1000px) {
  .title-description {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .title-description {
    width: 90%;
  }
  .content{
    display: grid;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    height: 105vh;
    margin-top: 2vh;
  }
  .inicio-imagen {
    order: 2;
  }
    .container-login-inicio {
      width: 100%; /* Ajusta el ancho del login */
      order: 1;
      margin-top: 3vh;
      margin-left: 1vh;
    }
    .inicio-imagen img {
      width: 550px;
      height: 392px;
    }
}

@media screen and (max-width: 700px) {
  .title-description {
    width: 90%;
  }
  .title-description h1{
    font-size: 24px;
  }
}

@media screen and (max-width: 582px) {
  .title-description {
    width: 90%;
  }
  .title-description h1{
    font-size: 24px;
  }
  .container-login-inicio {
    width: 100%; /* Ajusta el ancho del login */
    order: 1;
    margin-top: 3vh;
    margin-left: -1vh;
  }
  .inicio-imagen img {
    width: 400px;
    height: 300px;
  }
  .content{
    display: grid;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    height: 100vh;
    margin-top: 2vh;
  }
}
@media screen and (max-width: 480px) {
  .title-description {
    width: 95%;
  }
  .title-description h1{
    font-size: 18px;
  }
  .container-login-inicio {
    width: 90%; /* Ajusta el ancho del login */
    order: 1;
    margin-top: 3vh;
    margin-left: 1vh;
  }
  .inicio-imagen img {
    width: 380px;
    height: 300px;
  }
  .content{
    display: grid;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    height: 100vh;
    margin-top: 2vh;
  }
}
--Description

.description-text-conteiner .description-conteiner-foto img {
  width: 800px;
  height: 400px;
 }

 .nuestro-equipo-container img{
  width: 800px;
  height: 400px;
  }


.description-text-conteiner {
  width: 50%;
  margin-left: 27%;
}
.description-conteiner2 {
  margin-top: 23rem;
}
.description-text-conteiner .description-conteiner-foto {
   width: 30%;
   margin-left: 4%;
}
.nuestro-equipo-container {
  margin-left: 5%;
}


@media screen and (max-width: 1600px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -5%;
 }
 .nuestro-equipo-container {
  margin-left: -5%;
 }

}


@media screen and (max-width: 1280px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -15%;
 }
 .nuestro-equipo-container {
  margin-left: -15%;
 }

}

@media screen and (max-width: 1180px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -23%;
 }
 .nuestro-equipo-container {
  margin-left: -23%;
 }

 .description-conteiner2 {
  margin-top: 20rem;
}

}

@media screen and (max-width: 1000px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -27%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 600px;
    height: 400px;
    margin-left: 40%;
   }

   .nuestro-equipo-container {
    margin-left: -15%;
    }
    .nuestro-equipo-container img{
      width: 600px;
      height: 400px;
      }
      .description-text-conteiner h4{
        width: 130%;
        margin-left: -20%;
      }
}

@media screen and (max-width: 959px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -30%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 600px;
    height: 400px;
    margin-left: 40%;
   }

   .nuestro-equipo-container {
    margin-left: -19%;
    }
    .nuestro-equipo-container img{
      width: 600px;
      height: 400px;
      }
      .description-text-conteiner h4{
        width: 130%;
        margin-left: -20%;
      }
      div h4{
        font-size: 24px;
        color: #0C0C20;
        text-align: center;
        width: 100%;
        font-weight: normal;
      }
}

@media screen and (max-width: 850px) {

  .description-text-conteiner .description-conteiner-foto {
    margin-left: -35%;
   }

   .nuestro-equipo-container {
    margin-left: -25%;
    }
}

@media screen and (max-width: 800px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -32%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 500px;
    height: 300px;
    margin-left: 40%;
   }

   .nuestro-equipo-container {
    margin-left: -23%;
    }
    .nuestro-equipo-container img{
      width: 500px;
      height: 300px;
      }

      .description-conteiner2 {
        margin-top: 17rem;
      }
}
@media screen and (max-width: 700px) {
  div h1{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 56px;
    color: #131325;
    text-align: center;
    width: 100%;
  }
  div h4{
    font-size: 24px;
    color: #0C0C20;
    text-align: center;
    width: 100%;
    font-weight: normal;
  }
}
@media screen and (max-width: 650px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -25%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 400px;
    height: 250px;
    margin-left: 40%;
   }

   .nuestro-equipo-container {
    margin-left: -15%;
    }
    .nuestro-equipo-container img{
      width: 400px;
      height: 250px;
      }
}
@media screen and (max-width: 600px) {

  .description-text-conteiner .description-conteiner-foto {
    margin-left: -32%;
   }
   .nuestro-equipo-container {
    margin-left: -20%;
    }
}
@media screen and (max-width: 550px) {

  .description-text-conteiner .description-conteiner-foto {
    margin-left: -39%;
   }
   .nuestro-equipo-container {
    margin-left: -24%;
    }
}

@media screen and (max-width: 500px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -42%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 400px;
    height: 250px;
    margin-left: 40%;
   }

   .nuestro-equipo-container {
    margin-left: -45%;
    }
    .nuestro-equipo-container img{
      width: 450px;
      height: 250px;
      }

      div h1{
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 40px;
        color: #131325;
        text-align: center;
        width: 100%;
      }
      div h4{
        font-size: 18px;
        color: #0C0C20;
        text-align: center;
        width: 100%;
        font-weight: normal;
      }
}

@media screen and (max-width: 480px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -55%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 400px;
    height: 250px;
    margin-left: 40%;
   }

   .nuestro-equipo-container {
    margin-left: -50%;
    }
    .nuestro-equipo-container img{
      width: 435px;
      height: 250px;
      }
}

@media screen and (max-width: 480px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -30%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 300px;
    height: 250px;
    margin-left: 30%;
   }

   div h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #131325;
    text-align: center;
    width: 100%;
   }

   .description-text-conteiner h4 {
    font-size: 16px;
    color: #0C0C20;
    text-align: center;
    width: 180%;
    font-weight: normal;
    margin-left: -6rem;
   }

   .nuestro-equipo-container {
    margin-left: -34%;
    }
    .nuestro-equipo-container img{
      width: 350px;
      height: 250px;
      }
}

@media screen and (max-width: 450px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -35%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 300px;
    height: 250px;
    margin-left: 35%;
   }

   div h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #131325;
    text-align: center;
    width: 100%;
   }

   .description-text-conteiner h4 {
    font-size: 16px;
    color: #0C0C20;
    text-align: center;
    width: 180%;
    font-weight: normal;
    margin-left: -6rem;
   }

   .nuestro-equipo-container {
    margin-left: -32%;
    }
    .nuestro-equipo-container img{
      width: 350px;
      height: 250px;
      }
}
@media screen and (max-width: 400px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -42%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 300px;
    height: 250px;
    margin-left: 40%;
   }

   div h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #131325;
    text-align: center;
    width: 100%;
   }

   .description-text-conteiner h4 {
    font-size: 16px;
    color: #0C0C20;
    text-align: center;
    width: 180%;
    font-weight: normal;
    margin-left: -5rem;
   }

   .nuestro-equipo-container {
    margin-left: -42%;
    }
    .nuestro-equipo-container img{
      width: 350px;
      height: 250px;
      }
}

@media screen and (max-width: 380px) {

  .description-text-conteiner .description-conteiner-foto {
    width: 30%;
    margin-left: -50%;
   }
   .description-text-conteiner .description-conteiner-foto img{
    width: 300px;
    height: 250px;
    margin-left: 40%;
   }

   div h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #131325;
    text-align: center;
    width: 100%;
   }

   .description-text-conteiner h4 {
    font-size: 16px;
    color: #0C0C20;
    text-align: center;
    width: 180%;
    font-weight: normal;
    margin-left: -5rem;
   }

   .nuestro-equipo-container {
    margin-left: -52%;
    }
    .nuestro-equipo-container img{
      width: 350px;
      height: 250px;
      }
}


*{
  background-color: #EFEFEF;
}
@media screen and (max-width: 970px) {
  .container-content-inicio {
    height: 88rem;
  }

}

@media screen and (max-width: 500px) {
  .container-content-inicio {
    height: 85rem;
  }

}