*{
  background-color: #EFEFEF;
}
@media screen and (max-width: 970px) {
  .container-content-inicio {
    height: 88rem;
  }

}

@media screen and (max-width: 500px) {
  .container-content-inicio {
    height: 85rem;
  }

}