.inicio-imagen img {
  height: 42vw;
  width: 50vw;
  min-width: 300px;
  min-height: 250px;
  max-width: 900px;
  max-height: 800px;
  margin: 2vw;
}
.container-description-inicio {
  margin-top: 10%;
  margin-bottom: 5%;
}
.container-content-inicio {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 70px;
}
.inicio-imagen {
  display: flex;
  align-items: center;
  justify-content: center;

}
.container-login-inicio {
  display: flex;
  justify-content: center;
}
.conteiner-inicio-descr {
  display: flex;
  flex-direction: column; /* Coloca el título debajo del contenido */
  text-align: center;
  align-items: center; /* Centra verticalmente */
}
.title-description {
  text-align: center;
  width: 50%;
  min-width: 360px;
  max-width: 50%;
  display: flex;
  flex-direction: column; /* Coloca el título debajo del contenido */
  text-align: center;
  align-items: center; /* Centra verticalmente */
}



--Description


.container-description-inicio h1,
.container-description-inicio h4,
.container1-description-inicio h1,
.description-conteiner2 h4 {
  text-align: center;
}

.conteiner-foto img {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 3px;
  width: 100%;
  height: 75%;
  margin: 5px 20px;
  object-fit: cover;
  min-width: 250px;
  max-width: 500px;
  max-height: 460px;
  background: var(--gradient-pink);
  display: flex;
}

.conteiner-foto {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 340px;
  margin: 2vw;
  flex-wrap: wrap;
}

h4 {
  width: 970px;
  max-width: 85vw;
  text-align: center;
}

h1 {
  width: 970px;
  max-width: 85vw;
  font-size: 72px;
  text-align: center;
}

.paragraph3{
  margin: 0px;
  text-align: center;
}

.description-text-conteiner {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho disponible */
}
.description-conteiner-foto {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
}

.nuestro-equipo-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho disponible */
}
.nuestro-equipo-container img {
  height: 45vw;
  width: 90vw;
  max-width: 900px;
  max-height: 460px;
}

@media screen and (max-width: 767.5px) {
    h4 {
      font-size: 24px;
    }

    h1 {
      font-size: 40px;
    }

    .inicio-imagen {
    order: 2;
  }
  .container-login-inicio {
    order: 1;
    margin-top: 2vh;
  }
  .content {
    flex-direction: column;
  }
}
