.container-result {
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 300px;
    min-height: 1200px;
    max-width: 2000px;
    max-height: 2000px;
    font-family: var(--font-family);
    background-color: var(--background-color-light);
    margin-top: 90px;
}

.container-header-result {
    display: flex;
    align-items: center;
    margin: 2% 0 0 4%;
    padding: 0;
}

.img-result-logo {
    min-width: 30px;
    min-height: 30px;
    max-width: 1.918vw;
    max-height: 1.918vw;
}

.title-result {
    flex-grow: 1;
    /* Permite que el título ocupe todo el espacio restante */
    text-align: center;
    font-size: var(--font-size-title3);
}

.container-data-result {
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--border-box-color);
    width: 85%;
    height: auto;
    margin: 0 0 0 10%;
}


/*-------------------------------------------DOCTOR/MEDICO-------------------------------------------------------*/

.container-inputs-data-doctor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container-inputs-data-doctor h6 {
    font-size: var(--font-size-title6);
    font-weight: normal;
    margin: 0;
}

.container-inputs-data-doctor input {
    margin: 0 0 0 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--border-box-color);
    color: black;
    font-weight: normal;
}

.container-inputs-data-doctor div {
    margin: 0 3% 0 0;
}

.title-data {
    margin: 1.5%;
    font-size: var(--font-size-title5);
}


/*---------------------------------------------PACIENTE-----------------------------------------------------*/

.container-inputs-data-patient {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 0 1%;

}

.container-inputs-data-patient h6 {
    font-size: var(--font-size-title6);
    font-weight: normal;
    margin: 0;
}

.container-inputs-data-patient input {
    margin: 0 0 5% 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--border-box-color);
    color: black;
    font-weight: normal;
}

.container-inputs-data-patient div {
    margin: 0 1% 0 0;
}

/*----------------------------------PACIENTE(CONDICIONES PREVIAS Y RESULTADO DIAGNOSTICO)------------------------------------------------*/

.container-inputs-data-long-patient h6 {
    font-size: var(--font-size-title6);
    font-weight: normal;
    margin: 0;
}

.title-preconditions-patient{
    margin: 0 0 0 2%;
}

.container-inputs-data-long-patient input {
    color: black;
    font-weight: normal;
    width: 100%;
    min-height: 4vw;
    max-height: 12vw;
    margin: 0;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--border-box-color);
}

.container-inputs-data-long-patient div {
    margin: 0 1% 2% 1%;
}

.container-checkbox {
    width: 99%;
    min-height: 4vw;
    max-height: 10vw;
    margin: 0;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--border-box-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkbox-item {
    padding-right: 2rem;
}

.checkbox-item span {
    margin-left: 10px;
}


/*------------------------------------------------DESDE LA IMAGEN HASTA DESCARGA-------------------------------------------------------------*/

.container-downData{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-result-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-result {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--border-box-color);
    margin: 5% 5% 5% 0;
    width: 50%;
    height: 50%;
    background-color: white;
}

/*------------------------------------------------FEEDBACK-----------------------------------------------------------*/

.container-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
   
    border: 1px solid var(--border-box-color);
    border-radius: 10px;
    background-color: white;
}

.container-feedback p {
    margin: 0.5rem 0 0.5rem 0;
    font-size: var(--font-size-title6);
    text-align: center;
}

ul{
    list-style-type: none;
}

:host::ng-deep .container-feedback .p-button {
    margin: 1rem 0 0 1rem;
}

.buttons-normal-feedback {
    display: flex;
    align-items: center;
    justify-content: center;
}

.generate-buttons-feedback {
    display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   font-size: 15px;
}


.container-comment h6 {
    font-size: var(--font-size-title6);
    font-weight: normal;
    margin: 0;
}

.container-comment input {
    width: 100%;
    height: 6vw;
    min-height: 4vw;
    max-height: 12vw;
    margin: 0;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--border-box-color);
    color: black;
}
.container-comment {
    margin: 0 5% 0 5%;
}

.container-submit-feedback{
    display: flex;
    align-items: center;
    justify-content: center;
}
:host::ng-deep .container-submit-feedback .p-button {
    margin: 1.5rem 0 0 0;
}

/*---------------------------------------------BOTÓN DESCARGAR----------------------------------------*/

.container-download-result {
    display: flex;
    align-items: center;
    justify-content: center;

}

:host::ng-deep .container-download-result .p-button {
    margin-top: 1.5rem;
}

/*--------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 800px) {
    .container-checkbox {
        width: 100%;
        min-height: 20vw;
        max-height: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .checkbox-item {
        padding-right: 2rem;
    }

    .checkbox-item span {
        margin-left: 10px;
    }


}


@media screen and (max-width: 700px) {
    :host::ng-deep .container-feedback .p-button {
        width: 35vw;
        height: 3rem;
    }

    :host::ng-deep .container-download-result .p-button {
        width: 40vw;
        height: 4rem;
    }
    :host::ng-deep .generate-buttons-feedback .p-button{
        padding: 0;
    }


}

@media screen and (max-width: 500px) {
    .container-data-doctor input {
        width: 100%;
    }

    .container-inputs-data-patient {
        flex-direction: column;
    }

    .container-inputs-data-patient input {
        width: 100%;
    }

    .container-inputs-data-long-patient input {
        height: 20vw;
    }

    .img-result {
        width: 30%;
        height: 30%;
    }

    .container-inputs-data-doctor {
        flex-direction: column;
    }

    :host::ng-deep .container-feedback .p-button {
        width: 35vw;
        height: 3rem;
        padding: 0;
    }

    :host::ng-deep .container-download-result .p-button {
        width: 35vw;
        height: 3rem;
        padding: 0;
    }
    .container-comment input {
        height: 20vw;
    }
    .generate-buttons-feedback {
        flex-direction: column;
    }
    :host::ng-deep .generate-buttons-feedback .p-button{
        width: 50vw;
        height: 3rem;
        text-align: left;
    }

}

:host ::ng-deep .p-button{
    width: 300px;
    height: 4rem;
    align-items: center;
    border-radius: 10px;
    background: var(--gradient-pink);
    font-size: 15.94px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    bottom: 1rem;
    margin-top: 1rem;
    border: none;
  
    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      cursor: pointer;
    }
  }