.toolbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: var(--gradient-green);
  color: var(--font-color-light);
}
.toolbar .foto img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 8px;
  margin-left: 1rem;
}
.title {
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  color: var(--font-color-light);
}

@media screen and (max-width: 767.5px) {
  .toolbar{
    justify-content: center;
  }

  .toolbar .foto img {
    margin-left: 0!important;
  }
}
