.container-login-inicio{
    display: flex;
    justify-content: center;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 2px solid var(--border-box-color);
    background: #ffffff;
    box-sizing: border-box;
    padding: 25px;
    justify-content: center;
    gap: 25px;
    max-width: 700px;
    min-width: 300px;
}

.title-welcome-login {
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.container-field-login {
    margin: auto 10px 20px 10px;
}

.label-input-register {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin: 0px !important;
}

.container-button-link {
    text-align: right;
}

:host::ng-deep .button-enter-login .p-button {
    width: 97%;
    height: 4rem;
    align-items: center;
    border-radius: 10px;
    background: var(--gradient-pink);
    font-size: 15.94px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    bottom: 1rem;
    margin-top: 1rem;
    border: none;

}

:host ::ng-deep .p-password {
    width: 300px;
    height: 60px;
    text-align: left;
}

:host ::ng-deep .p-password .p-icon {
    height: 20px;
    width: 20px;
}

:host ::ng-deep .p-password .p-inputtext {
    text-indent: 30px;
}

:host::ng-deep .p-inputtext {
    width: 300px;
    height: 60px;
}

.p-button-link:focus, .p-button-link:enabled:focus{
    box-shadow: none !important;
}

:host::ng-deep .p-button-link{
    padding: 0px;
    font-size: 14px !important;
    text-align: right;
}

:host::ng-deep .title4{
    margin: 0px;
}

.errors{
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: contents;
    width: 300px;
  }
  .errors span{
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: contents;
    width: 300px;
  }


@media screen and (max-width: 767.5px) {
    .container-login{
        border: transparent;
        background: transparent;
        gap: 20px;
    }
  }
