.login-container {
    width: 70%;
    height: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-left: 20rem;
    border-style: solid;
    border-color: #598480;
    border-width: 1px;
}

/*
.borde-login{
    width: 461px;
    height: 476px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4rem;
    border-radius: 10px;
    background: linear-gradient(90deg,#62817E,#598480, #4A8983, #199A8E, #17868F, #166F91, #316A93, #516395);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
*/

.titulo-iniciar-sesion {
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.campos-iniciar-sesion {
    margin: auto 10px 20px 10px;
}

.etiquetas-iniciar-sesion {
    display: block;
    width: 32px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    padding: 10px 0px;
    margin: 15px 0px;
    margin-bottom: 0px;
}

.input-datos-iniciar-sesion {
    width: 100%;
    height: 49.813px;
    border: 0.996px solid #D1D1D1;
}

.noBorder {
    border: none;
    width: 95%;
    border-radius: 10px;
}

.loginInput {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    border-radius: 10px;
    border: 0.996px solid #D1D1D1;
    padding-left: 10px;
}

.loginIcon {
    font-size: 1.5rem;
    color: #797979;
    padding: 0.5rem;
}
.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.conatainer-boton-link {
    text-align: right;
}

/* :host::ng-deep .pi-id-card {
    position: absolute;
    left: 0.2rem;
    top: 10rem;
    font-size: 1.5rem;
    color: #797979;
}

:host::ng-deep .pi-lock {
    position: absolute;
    left: 0.2rem;
    top: 16.625rem;
    font-size: 1.5rem;
    color: #797979;
}

:host::ng-deep .pi-eye {
    position: absolute;
    left: 25.7rem;
    top: 17rem;
    font-size: 1.3rem;
    cursor: pointer;
} */

/* Estilo para mostrar la contraseña 
.show-password input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

Estilo para ocultar la contraseña 
.hide-password input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}*/


@media screen and (max-width: 1280px) {
    .login-container {
        width: 75%;

    }

    :host::ng-deep .global-button-inicio .p-button {
        width: 97%;
        /*width: 418.32px;*/
        height: 4rem;
        bottom: 1rem;
        margin-top: 1rem;
    }

    .input-datos-iniciar-sesion {
        width: 90%;
        margin-left: 5%;

    }

    :host::ng-deep .boton-link .p-button {
        text-align: right;

    }

    :host::ng-deep .pi-id-card {
        /* position: absolute; */
        left: 0.2rem;
        top: 10rem;
        font-size: 1.5rem;
    }

    :host::ng-deep .pi-lock {
        /* position: absolute; */
        left: 0.2rem;
        top: 16.625rem;
        font-size: 1.5rem;
    }


}

@media screen and (max-width: 360px) {

    .description-text-conteiner .description-conteiner-foto {
      width: 30%;
      margin-left: -55%;
     }
     .description-text-conteiner .description-conteiner-foto img{
      width: 400px;
      height: 250px;
      margin-left: 40%;
     }
    .titulo-iniciar-sesion {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 25px;
    }

    .etiquetas-iniciar-sesion {
        font-size: 16px;
    }

     .nuestro-equipo-container {
      margin-left: -50%;
      }
      .nuestro-equipo-container img{
        width: 435px;
        height: 250px;
        }
    
  }

  @media screen and (max-width: 380px) {
    .login-container {
        width: 60%;
        height: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        margin-left: 20rem;
        border-style: solid;
        border-color: #598480;
        border-width: 1px;
    }
  
    .content{
      overflow-x: hidden;
      overflow-y: hidden;
    }
  
  }
