<div class="view">
  <app-header class="container-header-inicio" />
</div>


<div class="login-container">
  <h2 class="titulo-iniciar-sesion">Bienvenid@!</h2>
  <form>
    <div class="campos-iniciar-sesion">
      <label class="etiquetas-iniciar-sesion">DNI:</label>
      <input class="input-datos-iniciar-sesion" type="text" placeholder="Ingrese su DNI" pInputText
        [(ngModel)]="persona.dni" required name="first"/>
    </div>
    <div class="campos-iniciar-sesion">
      <label class="etiquetas-iniciar-sesion">Contraseña:</label>
      <input class="input-datos-iniciar-sesion" type="text" placeholder="Ingrese su contraseña" pInputText
        [(ngModel)]="persona.clave" required name="segundo"/>
    </div>
    <div>
      <p> ¿Olvidaste tu contraseña?</p>
    </div>
    <button class="boton" (click)="mostrarInfo()">Ingresar</button>
  </form>
</div>