

<div class="body-new-password">
    <app-header></app-header>
    <div class="container-new-password">
        <h2 class="title-new-password">Recupera tu contraseña</h2>
        <h4 class="subtitle-new-password">Ingresa una nueva contraseña</h4>
        <form class="form-new-password">
          <div class="container-data-new-password" id="first-password">
            <label class="label-new-password">Nueva contraseña</label>
            <span class="input-new-password">
              <i class="pi pi-lock new-password-icon"></i>
              <input class="noBorder" [type]="showPassword1 ? 'text' : 'password'" [placeholder]="showPassword1 ? '' : '********'" id="password" pInputText name="password" required />
              <i *ngIf="!showPassword1; else noVisible1" class="pi pi-eye new-password-icon" (click)="togglePasswordVisibility(1)"></i>
                <ng-template #noVisible1><i class="pi pi-eye-slash new-password-icon" (click)="togglePasswordVisibility(1)"></i></ng-template>
            </span>
          </div>
          <div class="container-data-new-password" id="second-password">
            <label class="label-new-password">Repetir contraseña</label>
            <span class="input-new-password">
              <i class="pi pi-lock new-password-icon"></i>
              <input class="noBorder" [type]="showPassword2 ? 'text' : 'password'" [placeholder]="showPassword2 ? '' : '********'" id="password" pInputText name="password" required />
              <i *ngIf="!showPassword2; else noVisible2" class="pi pi-eye new-password-icon" (click)="togglePasswordVisibility(2)"></i>
                <ng-template #noVisible2><i class="pi pi-eye-slash new-password-icon" (click)="togglePasswordVisibility(2)"></i></ng-template>
            </span>
          </div>
            <button class="gradient-button-new-password" (click)="showModal()"> Cambiar contraseña</button>
        </form>
    </div>
</div>
<p-dialog [draggable]="false" [blockScroll]="true" header="Header" [style]= "{width: '600px', height: '250px', border: '1px solid #797979', margin: '20px'}" [closable]="false" [(visible)]="modalVisible">
  <ng-template pTemplate="header">
      <span class="text-xl font-bold modal-title-reset">Recuperación de la cuenta</span>
  </ng-template>  
  <p class="modal-content-reset">  
      La contraseña se actualizó correctamente
  </p>
  <ng-template pTemplate="footer">
    <a routerLink="/diagnostico" class="modal-inicio-reset" href="">Continuar</a>
  </ng-template>
</p-dialog>

    