.body-new-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #efefef;
    border: 1px solid #000;
}

.container-new-password {
    width: 450px;
    height: 465px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--border-box-color);
    background-color: var(--font-color-light);
    border-radius: 10px;
    height: auto;
    padding: 25px 0px;
}

.title-new-password {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0px;
}

.subtitle-new-password {
    text-align: center;
    color: #797979;
    font-weight: 400;
    font-size: 18px;
}
 
.container-data-new-password {
  width: 300px;
}

.label-new-password {
    align-self: flex-start;
    font-size: var(--font-size-title6);
    font-weight: 700;
    color: #000;
}

.input-new-password {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px !important;
    border-radius: 10px;
    border: 1px solid #797979 !important;
    background-color: var(--font-color-light);
}

.gradient-button-new-password {
    font-family: var(--font-family-all);
    width: 300px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
    background: var(--gradient-pink);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin: 50px 0px 0px;
  }

  .gradient-button-reset:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

  .form-new-password {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-new-password {
      width: 100%;
      height: 50px;
      border: 1px solid #D1D1D1;
  }
  .no-border-new-password {
      border: none;
      width: 100%;
      border-radius: 10px;
  }
  .noBorder:focus {
    box-shadow: none;
  }

  .new-password-icon {
      font-size: 18px;
      color: #797979;
      padding: 12px;
  }

:host::ng-deep .p-inputtext {
    width: 250px;
    height: 58px;
    border: none;
}
:host::ng-deep .p-inputtext:hover {
    box-shadow: none;
}



:host::ng-deep .p-dialog .p-dialog-header {
    justify-content: center;
    padding: 0px;
}

:host::ng-deep .p-dialog .p-dialog-content {
    justify-content: center;
    padding: 0px;
}
:host::ng-deep .p-dialog .p-dialog-content:hover {
  box-shadow: none;
  border: none;
}
.second-icon {
  font-size: 14px;
}
  .modal-title-new-password {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: auto;
  }
  .modal-content-new-password {
    color: #797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0%;
    position: relative;
    top: 20px;
  }
  .modal-inicio-reset {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
  }
  .blur-div{
    filter: blur(2px);
  }

@media screen and (max-width: 500px) {
  .container-new-password {
      background-color: #efefef;
      border: none;
      width: 100%;
      height: 100%;
      padding: 1vw;
  }
  .title-new-password{
      margin: 30px auto 0px;
  }
  .container-data-new-password {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
  }
  .label-new-password {
    padding: 0px 20px;
}
  .input-new-password {
      background-color: var(--font-color-light);
      width: 100%;
  }
  .gradient-button-new-password {
      margin: 0px 25px;
      width: 90%;
  }
}







  

