<p-toast></p-toast>
<div class="body-new-password">
  <app-header></app-header>
  <div class="container-new-password">
    <h2 class="title-new-password">Recupera tu contraseña</h2>
    <h4 class="subtitle-new-password">Ingresa una nueva contraseña</h4>
    <form class="form-new-password">
      <div class="container-data-new-password" id="first-password">
        <label class="label-new-password">Nueva contraseña</label>
        <span class="input-new-password">
          <i class="pi pi-lock new-password-icon"></i>
          <p-password [(ngModel)]="password1" [toggleMask]="true" id="password" promptLabel=" " weakLabel="Baja"
            mediumLabel="Media" strongLabel="Fuerte" placeholder="Ingresar contraseña"
            pattern="^(?=.*[a-zñÑ])(?=.*[A-ZÑñ])(?=.*\d)[a-zA-Z0-9ñÑ]*$" #password="ngModel" required name='first'>
            <ng-template pTemplate="header">
            </ng-template>
            <ng-template pTemplate="footer">
              <br>
              <p class="mt-2">La contraseña debe tener</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5;width: 300px">
                <li>Al menos una minúscula</li>
                <li>Al menos una mayúscula</li>
                <li>Al menos un número</li>
                <li>8 caracteres mínimo</li>
                <li>No debe contener caracteres especiales</li>
              </ul>
            </ng-template>
          </p-password>
        </span>
        <div style="height: 30px;">
          <span *ngIf="password.errors?.['pattern']" style="width: 100%;color:red; margin: 0px; height: 30px;">
            Los requisitos no se cumplen
          </span>
        </div>
      </div>
      <div class="container-data-new-password" id="second-password">
        <label class="label-new-password">Repetir contraseña</label>
        <span class="input-new-password">
          <i class="pi pi-lock new-password-icon"></i>
          <p-password [(ngModel)]="password2" [toggleMask]="true" placeholder="Repetir contraseña"
            pattern="^(?=.*[a-zñÑ])(?=.*[A-ZÑñ])(?=.*\d)[a-zA-Z0-9ñÑ]*$" name="second" [feedback]="false">
          </p-password>
        </span>
      </div>
      <button class="gradient-button-new-password" (click)="onSubmit()"> Cambiar contraseña</button>
    </form>
  </div>
</div>
<p-dialog [draggable]="false" [blockScroll]="true" header="Header"
  [style]="{width: '600px', height: '200px', border: '1px solid #797979', margin: 'auto 20px'}" [closable]="false"
  [(visible)]="modalVisible">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold modal-title-new-password">Recuperación de la cuenta</span>
  </ng-template>
  <p class="modal-content-new-password">
    La contraseña se actualizó correctamente
  </p>
  <ng-template pTemplate="footer">
    <a routerLink="/diagnostico" class="modal-inicio-new-password" href="">Continuar</a>
  </ng-template>
</p-dialog>