
.resetBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #efefef;
    font-family: 'Poppins', sans-serif;
}
.resetDiv {
    width: 498.125px;
    height: 375.586px;
    padding: 20px;
    margin-top: 30px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 9.963px;
    border-color: #797979;
    background-color: white;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.resetTitle {
    color: black;
    font-weight: bold;
    text-align: center;
}
.resetH4 {
    text-align: center;
    color: #797979;
    font-weight: 100;
}

.resetData {
    margin-bottom: 1px;
    color: black;
}

.resetLabel {
    display: block;
    color: rgb(0, 0, 0);
    color: #000;
    font-size: 15.94px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5px 0px;
    width: 100%;
    padding-left: 10px;
}

.resetInput {
    display: flex;
    align-items: center;
    width: 418.32px;
    height: 60px;
    border-radius: 10px;
    border: 0.996px solid #D1D1D1;
    padding-left: 10px;

}

.noBorder {
    border: none;
    width: 100%;
    border-radius: 10px;
}

 .idIcon {
    font-size: 1.5rem;
    color: #797979;
    bottom: 1.5rem;
    padding: 0.5rem;
}

.gradientButton {
    width: 418.32px;
    height: 59.775px;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(90deg, #E62D9C 0.04%, #531981 102.56%);
    color: white;
    font-size: 15.94px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    bottom: -10px;
    border: none;
  }

  .resetForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backLogin {
    padding-top: 20px;
  }

@media screen and (max-width: 500px) {
    .resetDiv {
        background-color: #efefef;
        border: none;
        width: 100%;
        height: 100%;
    }
    .resetInput {
        width: 95%;
        display: flex;
        align-self: center;
        background-color: #fff;
    }
    .gradientButton {
        width: 95%;
        height: 50px;
    }
    .backLogin {
        display: none;
    }
    .resetData {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
