  <p-toast></p-toast>
  <div class="body-reset">
    <app-header></app-header>
    <app-loader></app-loader>
    <div class="container-reset">
        <h2 class="title-reset">Recupera tu contraseña</h2>
        <h4 class="subtitle-reset">Ingresa el DNI para resetear la contraseña</h4>
        <form class="form-reset" (ngSubmit)="onSubmit()">
          <div class="campo">
            <label class="label-input-register">DNI</label>
            <span class="p-input-icon-left">
              <i class="pi pi-id-card" style="font-size: 18px; color: #797979; z-index: 2;"></i>
              <input type="text" pInputText [(ngModel)]="dniReset" required #dni="ngModel" id="dni" name="dni" pattern="^\d{7,8}$"
              placeholder="Ingresar DNI"  />
            </span>
            <div *ngIf="dni.errors && dni.touched" class="errors" style="margin-top: 0.3rem;color: red;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: left;
            font-size: 14px;
            display: contents;
            width: 295px;">
              <div>
                <span *ngIf="dni.errors?.['required']">
                  Indique un DNI
                </span>
              </div>
              <div>
                <span *ngIf="dni.errors?.['pattern']">
                  Debe ser entre 7 y 8 digitos numéricos
                </span>
            </div>
            </div>
          </div>
            <button class="gradient-button-reset"> Recuperar contraseña</button>
            <p-button styleClass="p-button-link" label="Volver a la página principal" routerLink=""></p-button>
        </form>
      </div>
        <p-dialog [draggable]="false" [blockScroll]="true" header="Header" [closable]="false" [(visible)]="visible">
          <ng-template pTemplate="header">
              <span class="text-xl font-bold modal-title-reset">Recuperación de la cuenta</span>
          </ng-template>  
          <p class="modal-content-reset">  
              Se envió un correo electrónico con un código de verificación para reestablecer su contraseña.
          </p>
          <ng-template pTemplate="footer">
            <p-button styleClass="p-button-link" label="Verificar código" routerLink="/two-factor"></p-button>
          </ng-template>
        </p-dialog>
    </div>


    