.body-reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.container-reset {
  margin: 0;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-box-color);
  background-color: var(--font-color-light);
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  gap: 20px
}

.title-reset {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0px;
}

.subtitle-reset {
    text-align: center;
    color: #797979;
    font-weight: 400;
    margin: 0px;
    font-size: 18px;
}

.label-reset {
    align-self: flex-start;
    font-size: var(--font-size-title6);
    font-weight: 700;
    color: var(--text-color);
}

.data-reset {
    margin-bottom: 1px;
    color: var(--text-color);
}

.input-reset {
    display: flex;
    align-items: center;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--border-box-color);
    padding: 0px 0px 0px 15px;
    background-color: var(--font-color-light);
}
.no-border-reset {
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 58px;
}
.no-border-reset:focus {
  box-shadow: none;
}
.id-icon-reset{
    font-size: 1.5rem;
    color: #797979;
    padding: 0.5rem;
}

.back-inicio-reset {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.gradient-button-reset {
    font-family: var(--font-family-all);
    width: 300px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
    background: var(--gradient-pink);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin: 25px 0px;
}

.gradient-button-reset:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.form-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title-reset {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

.modal-content-reset {
    color: #797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0%;
}

.modal-inicio-reset {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.blur-div{
    filter: blur(2px);
}

 :host::ng-deep .p-inputtext {
    width: 300px;
    height: 60px;
}

.label-input-register {
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin: 0!important;
}

.campo{
  display: flex;
    flex-direction: column;
}

:host::ng-deep .p-button-link{
    text-align: center;
}

:host::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #343a40;
    padding: 0;
}

:host::ng-deep .p-dialog .p-dialog-footer {
    border-top: 0 none;
    background: #ffffff;
    color: #495057;
    padding: 0;
    text-align: center;
}

:host::ng-deep .p-dialog {
    border-top: 0 none;
    background: #ffffff;
    color: #495057;
    padding: 20px;
    text-align: center;
    width: 700px;
    border: 1px solid var(--border-box-color);
    gap: 20px;
}

:host::ng-deep .p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    padding: 0;
}

@media screen and (max-width: 767.5px) {
  .container-reset {
    width: 340px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: transparent;
    }

    :host::ng-deep .p-dialog {
        width: 340px;
    }

}