
  <div class="body-reset">
    <app-header></app-header>
    <div class="container-reset">
        <h2 class="title-reset">Recupera tu contraseña</h2>
        <h4 class="subtitle-reset">Ingresa el DNI para resetear la contraseña</h4>
        <form class="form-reset" (ngSubmit)="onSubmit()">
          <div class="data-reset">
            <label class="label-reset">DNI</label>
              <span class="input-reset">
                <i class="pi pi-id-card id-icon-reset"></i>
                <input type="text" pInputText [(ngModel)]="dniReset" class="no-border-reset" placeholder="Ingresar DNI" name="first"/>
            </span>
          </div>
            <button class="gradient-button-reset"> Recuperar contraseña</button>
            <a routerLink="" class="back-inicio-reset" href="">Volver a la página principal</a>
        </form>
      </div>
      <p-dialog [draggable]="false" [blockScroll]="true" header="Header" [style]= "{ width: '700px', height: '300px', border: '1px solid #797979'}" [closable]="false" [(visible)]="visible">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold modal-title-reset">Recuperación de la cuenta</span>
        </ng-template>  
        <p class="modal-content-reset">
            Se envió un correo electrónico con un código de verificación para reestablecer su contraseña.
        </p>
        <ng-template pTemplate="footer">
          <a routerLink="" class="modal-inicio-reset" href="">Volver a la página principal</a>
        </ng-template>
      </p-dialog>
    </div>
    