@import "primeicons/primeicons.css";
.resetBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #efefef;
}
.resetDiv {
    width: 32%;
    padding: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: #797979;
    /* border-image: linear-gradient(to right, #E62D9C 0.04%, #531981 102.56%) 1; */
    background-color: white;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.resetTitle {
    color: black;
    font-weight: bold;
    text-align: center;
}
.resetH4 {
    text-align: center;
    color: #797979;
    font-weight: 100;
}

.resetData {
    margin-bottom: 20px;
    color: black;
}

.resetLabel {
    display: block;
    color: rgb(0, 0, 0);
    width: 32px;
    color: #000;
    font-size: 15.94px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px 0px;
}

.resetInput {
    width: 418.32px;
    height: 50px;
    border-radius: 10px;
    border: 0.996px solid #D1D1D1;
    padding-left: 10px;
}

.gradientButton {
    width: 418.32px;
    height: 59.775px;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(90deg, #E62D9C 0.04%, #531981 102.56%);
    color: white;
    font-size: 15.94px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    bottom: -10px;
    border: none;
  }

  .resetForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }