
<head>
    <link rel="stylesheet" type="text/css" href="./resetPassword.component.css">
  </head>  
  <body class="resetBody">
    <app-header class="container-header-inicio" />
    <div class="resetDiv">
        <h2 class="resetTitle">Recupera tu contraseña</h2>
        <h4 class="resetH4">Por favor ingresa el DNI para resetear la contraseña</h4>
        <form (ngSubmit)="onSubmit()" class="resetForm">
          <div class="resetData">
            <label class="resetLabel">DNI:</label>
            <input class="resetInput" type="text" placeholder="Ingrese su DNI" pInputText
              [(ngModel)]="persona.dni" required name="primero"/>
          </div>
            <button type="submit" label="Recuperar contraseña" class="gradientButton">Recuperar contraseña</button>
        </form>
      </div>
      <p-button label="Guardar" icon="pi pi-check" (click)="guardar()"></p-button>

  </body>