.toolbar {
    align-items: center;
    display: flex;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: #efefef;
    position: absolute;
  }
  .title{
    flex-grow: 1;
    text-align: center;
  }

  .title span{
    font-size: var(--font-size-title3);
  }

  @media screen and (max-width: 767.5px) {
    .title3{
      font-size: var(--font-size-title4);
    }
  }

  @media screen and (max-width: 395px) {
    .title3{
      font-size: 28px;
    }
  }
  