.container-diagnostic {
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 300px;
  min-height: 1200px;
  max-width: 2000px;
  max-height: 1700px;
  font-family: var(--font-family);
  background-color: #EFEFEF;
  margin-top: 130px;
}

.container-header-result {
  display: flex;
  align-items: center;
  margin: 2% 0 0 4%;
  padding: 0;
}

.img-result-logo {
  min-width: 30px;
  min-height: 30px;
  max-width: 1.918vw;
  max-height: 1.918vw;
}

.title-result {
  flex-grow: 1;
  /* Permite que el título ocupe todo el espacio restante */
  text-align: center;
  font-size: var(--font-size-title3);
}

.container-data-result {
  background-color: #FFFFFF;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
  width: 85%;
  height: auto;
  margin: 2% 0 0 10%;
}


/*-------------------------------------------DOCTOR/MEDICO-------------------------------------------------------*/

.container-inputs-data-doctor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;

}

.container-inputs-data-doctor h6 {
  font-size: var(--font-size-title6);
  font-weight: normal;
  margin: 0;
}

.container-inputs-data-doctor input {
  margin: 0 0 2% 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
}

.container-inputs-data-doctor div {
  margin: 0 3% 0 0;
}

.title-data {
  margin: 1.5%;
  font-size: var(--font-size-title5);
}

/*---------------------------------------------PACIENTE-----------------------------------------------------*/

.container-inputs-data-patient {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 1%;

}

.container-inputs-data-patient h6 {
  font-size: var(--font-size-title6);
  font-weight: normal;
  margin: 0;
}

.container-inputs-data-patient input {
  margin: 0 0 2% 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
}

.container-inputs-data-patient div {
  margin: 0 1% 0 0;
}



/*----------------------------------PACIENTE(CONDICIONES PREVIAS Y RESULTADO DIAGNOSTICO)------------------------------------------------*/

.container-inputs-data-long-patient h6 {
  font-size: var(--font-size-title6);
  font-weight: normal;
  margin: 0;
}

.container-inputs-data-long-patient .container-checkbox {
  width: 100%;
  min-height: 4vw;
  max-height: 10vw;
  margin: 0;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
}

.container-inputs-data-long-patient div {
  margin: 2% 1% 2% 1%;
}

.container-result-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-result {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
  margin: 2%;
  width: 20%;
  height: 20%;

}

:host ::ng-deep .p-dropdown {
  margin: 0 0 3.5% 0;
  padding: 0px;
  min-width: 224px;
  max-width: 20vw;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
}

.container-data-patient {
  min-height: 500px;
}

/*------------------------------------------IMAGEN--------------------------------------------------------*/



.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  /* Agrega un espacio interno para el contenido */
}

.container-custom-file-input {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-box-color);
  border-radius: 10px;
  background-color: white;
  margin: 2%;
  width: 300px;
  height: 300px;
  margin: 1% 0% 1%;
}

.imagen-pre {
  width: 300px;
  height: 200px;
}

.preview-image {
  width: 280px;
  height: 280px;
  max-width: 300px;
  max-height: 300px;
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 800px) {
  .container-inputs-data-long-patient .container-checkbox {
    width: 100%;
    min-height: 20vw;
    max-height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-inputs-data-long-patient {

    min-height: 12vw;
    max-height: 40vw;
  }
  .checkbox-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .checkbox-item {
    padding-right: 2rem;
  }
  .checkbox-item span {
    margin-left: 10px;
  }

}

@media screen and (max-width: 500px) {
  .container-data-doctor input {
    width: 100%;
  }

  .container-inputs-data-patient {
    flex-direction: column;
  }

  .container-inputs-data-patient .container-checkbox{
    width: 100%;
  }

  .container-inputs-data-long-patient {
    height: 50vw;
  }

  .img-result {
    width: 30%;
    height: 30%;
  }

  .container-inputs-data-doctor {
    flex-direction: column;
  }

  :host::ng-deep .button-download-result .p-button {
    width: 50vw;
    height: 8vw;
  }

  .checkbox-item {

  }
  .container-checkbox  {
    margin-left: 3rem;
  }
  .checkbox-item span {
    margin-left: 10px;
  }
}

.errors{
  color: red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  display: contents;
}

:host::ng-deep .p-calendar {
  margin: 0 0 3.5% 0;
  padding: 0px;
  height: 49px;
  min-height: 47px;
  max-width: 47px;
  min-width: 224px;
  max-width: 20vw;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
}

:host ::ng-deep .p-datepicker{
  min-width: 400px;
  position: static;
  min-height: 400px;
  top: 0;
  left: 0;
}

.container-checkbox {
  width: 100%;
  min-height: 400px;
}
.checkbox-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.checkbox-item {
  padding-left: 3rem;
}
.checkbox-item span {
  margin-left: 10px;
}
