.container-diagnostic {
  overflow-x: hidden;
    overflow-y: hidden;
    font-family: var(--font-family);
    background-color: var(--background-color-light);
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-header-result {
  display: flex;
  align-items: center;
  margin: 2% 0 0 4%;
  padding: 0;
}

.img-result-logo {
  min-width: 30px;
  min-height: 30px;
  max-width: 1.918vw;
  max-height: 1.918vw;
}

.title-result {
  flex-grow: 1;
  /* Permite que el título ocupe todo el espacio restante */
  text-align: center;
  font-size: var(--font-size-title3);
}

.container-data-result {
  background-color: #FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--border-box-color);
    max-width: 89vw;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


/*-------------------------------------------DOCTOR/MEDICO-------------------------------------------------------*/

.container-inputs-data-doctor {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.container-data-doctor{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.container-inputs-data-doctor h6 {
  font-size: var(--font-size-title6);
  font-weight: normal;
  margin: 0;
}

.container-inputs-data-doctor input {
  width: 100%;
  height: 60px;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
}

.title-data {
  margin: 0;
  font-size: var(--font-size-title5);
}

.campos {
    height: 90px;
    width: 200px;
}

.campos-largo {
  height: 90px;
  width: 300px;
}

/*---------------------------------------------PACIENTE-----------------------------------------------------*/

.container-inputs-data-patient {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.container-data-patient{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-inputs-data-patient h6 {
  font-size: var(--font-size-title6);
  font-weight: normal;
  margin: 0;
}

.container-inputs-data-patient input {
  height: 60px;
  width: 200px;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
}



/*----------------------------------PACIENTE(CONDICIONES PREVIAS Y RESULTADO DIAGNOSTICO)------------------------------------------------*/

.container-inputs-data-long-patient h6 {
  font-size: var(--font-size-title6);
  font-weight: normal;
  margin: 0;
}

.container-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 4vw;
  margin: 0;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
  background: white;
  gap: 2vw;
}

.container-result-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-result {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
  margin: 2%;
  width: 20%;
  height: 20%;

}

:host ::ng-deep .p-dropdown {
  height: 60px;
  width: 200px;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
}

:host ::ng-deep .p-dropdown-label {
    display: flex;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    cursor: pointer;
    align-content: stretch;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------IMAGEN--------------------------------------------------------*/



.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  /* Agrega un espacio interno para el contenido */
}

.container-custom-file-input {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-box-color);
  border-radius: 10px;
  background-color: white;
  margin: 2%;
  width: 300px;
  height: 300px;
  margin: 1% 0% 1%;
}

.imagen-pre {
  width: 300px;
  height: 200px;
}

.preview-image {
  width: 280px;
  height: 280px;
  max-width: 300px;
  max-height: 300px;
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767.5px) {
  .container-data-result{
    background-color:transparent;
    border-style: none;
  }
  .container-inputs-data-patient{
    align-items: stretch;
  }

  .container-inputs-data-doctor{
    flex-direction: column;
  }

  .container-inputs-data-patient{
      flex-direction: column;
      flex-wrap: nowrap;
  }

  .container-inputs-data-patient input {
      width: 300px;
  }

  .campos{
    width: 300px;
  }

  :host ::ng-deep .p-dropdown {
    width: 300px;
  }

  .container-checkbox {
    flex-direction: column;
    align-items: stretch;
  }

  .checkbox-item {
    display: flex;
    flex-direction: column;
  }

  .checkbox-group{
    justify-content: space-evenly;
  }
}
/*
@media screen and (max-width: 800px) {
  .container-inputs-data-long-patient .container-checkbox {
    width: 100%;
    min-height: 20vw;
    max-height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-inputs-data-long-patient {

    min-height: 12vw;
    max-height: 40vw;
  }
  .checkbox-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .checkbox-item {
    padding-right: 2rem;
  }
  .checkbox-item span {
    margin-left: 10px;
  }

}

@media screen and (max-width: 500px) {
  .container-data-doctor input {
    width: 100%;
  }

  .container-inputs-data-patient {
    flex-direction: column;
  }

  .container-inputs-data-patient .container-checkbox{
    width: 100%;
  }

  .container-inputs-data-long-patient {
    height: 50vw;
  }

  .img-result {
    width: 30%;
    height: 30%;
  }

  .container-inputs-data-doctor {
    flex-direction: column;
  }

  :host::ng-deep .button-download-result .p-button {
    width: 50vw;
    height: 8vw;
  }

  .checkbox-item {

  }
  .container-checkbox  {
    margin-left: 3rem;
  }
  .checkbox-item span {
    margin-left: 10px;
  }
}*/

.errors{
  color: red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  display: contents;
}

:host::ng-deep .p-calendar {
  height: 60px;
  width: 300px;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-box-color);
}

:host::ng-deep .p-calendar .p-inputtext{
  border-radius: 10px;
  width: 100%;
}

:host ::ng-deep .p-datepicker{
  min-width: 400px;
  position: static;
  min-height: 400px;
  top: 0;
  left: 0;
}

.checkbox-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.checkbox-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 20px;
}
.checkbox-item span {
  margin-left: 10px;
}

/*------------------------------------PROFESIONAL DE LA SALUD-----------------------------------*/



.container {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.container-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #797979;
  background: var(--ttulos-subttulos-y-contenedor, #FFF);
  width: 710px;
  height: 330px;
  padding: 50px;
  gap: 50px;
  z-index: 10000;
  position: absolute;
}
.container-data-logout {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-logout {
  margin: 0px;
}
.subtitle-logout {
  color: var(--Campos, #797979);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.button-container-logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient-button-logout {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--Difuminado, linear-gradient(90deg, #E62D9C 0.04%, #531981 102.56%));
  border: none;
  color: #FFF;
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.container-gradient-border {
  width: 300px;
  height: 60px;
  border-radius: 11px;
  color: linear-gradient(90deg, #E62D9C 0.04%, #531981 102.56%);
}
.gray-button-logout {
  width: 294px;
  height: 54px;
  font-weight: 700;
  background: rgba(196, 196, 196);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color:  #9C237E;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .container-logout {
      height: 50%;
      margin: auto;
      width: 98vw;
      gap: 10px;
      margin: 1vw;
      padding: 15px;
  }
  .title-logout {
      margin: 0% 0% 50px;
  }
  .button-container-logout{
      flex-direction: column;
      justify-content: space-between;
      width: 90vw;
      gap: 10px;
  }
  .button-logout {
      width: 98%;
  }
  .container-gradient-border {
      width: 100%;
  }
}

@media (min-width:576px) and (max-width: 768px) {
  .container-logout {
      width: 96%;
  }
  .button-container-logout {
      width: 100%;
  }
  .container-gradient-border {
      width: 100%;
  }
  .button-logout {
      width: 98%;
      max-width: 300px;
  }
}

/*------------------------------------PROFESIONAL DE LA SALUD-----------------------------------*/



.container {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.container-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #797979;
  background: var(--ttulos-subttulos-y-contenedor, #FFF);
  width: 710px;
  height: 330px;
  padding: 50px;
  gap: 50px;
  z-index: 10000;
  position: absolute;
}
.container-data-logout {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-logout {
  margin: 0px;
}
.subtitle-logout {
  color: var(--Campos, #797979);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.button-container-logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient-button-logout {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--Difuminado, linear-gradient(90deg, #E62D9C 0.04%, #531981 102.56%));
  border: none;
  color: #FFF;
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.container-gradient-border {
  width: 300px;
  height: 60px;
  border-radius: 11px;
  color: linear-gradient(90deg, #E62D9C 0.04%, #531981 102.56%);
}
.gray-button-logout {
  width: 294px;
  height: 54px;
  font-weight: 700;
  background: rgba(196, 196, 196);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color:  #9C237E;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .container-logout {
      height: 50%;
      margin: auto;
      width: 98vw;
      gap: 10px;
      margin: 1vw;
      padding: 15px;
  }
  .title-logout {
      margin: 0% 0% 50px;
  }
  .button-container-logout{
      flex-direction: column;
      justify-content: space-between;
      width: 90vw;
      gap: 10px;
  }
  .button-logout {
      width: 98%;
  }
  .container-gradient-border {
      width: 100%;
  }
}

@media (min-width:576px) and (max-width: 768px) {
  .container-logout {
      width: 96%;
  }
  .button-container-logout {
      width: 100%;
  }
  .container-gradient-border {
      width: 100%;
  }
  .button-logout {
      width: 98%;
      max-width: 300px;
  }
}

