<p-toast></p-toast>
<app-loader></app-loader>
<app-navbar [pageTitle]="tituloDinamico"></app-navbar>
<div class="container-diagnostic">
  <div class="container-data-result">
    <div class="container-data-doctor">
      <h4 class="title-data">Datos del médico</h4>
      <div class="container-inputs-data-doctor">
        <div class="campos-largo">
          <h6 class="title-dni-doctor">DNI</h6>
          <input class="input-dni-doctor" type="text" placeholder="Ingrese DNI" pInputText tabindex="1"
          [(ngModel)]="doctor.dni" #dni="ngModel" name="dni" id="dni" required pattern="^[0-9]{7,8}$"/>
          <div *ngIf="dni.invalid && (dni.touched)" class="errors" style="margin-top: 0.3rem;font-size: 14px;">
            <div>
              <span *ngIf="dni.errors?.['required']">Indique un DNI</span>
            </div>
            <div>
              <span *ngIf="dni.errors?.['pattern']">Debe ser entre 7 y 8 dígitos numéricos</span>
            </div>
          </div>
        </div>
        
        <div class="campos-largo">
          <h6 class="title-name-doctor">Nombre</h6>
          <input class="input-name-doctor" type="text" placeholder="Ingrese nombre" pInputText tabindex="2"
          [(ngModel)]="doctor.name" name="name" #name="ngModel" id="name" [minlength]="2" pattern="^[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+$"  required/>
          <div *ngIf="name.invalid && (name.touched)" class="errors" style="margin-top: 0.3rem;font-size: 14px;">
            <div>
              <span *ngIf="name.errors?.['required']">Indique un nombre</span>
            </div>
            <div>
              <span *ngIf="name.errors?.['pattern']">No debe contener números</span>
            </div>
            <div>
              <span *ngIf="name.errors?.['minlength'] && !name.errors?.['pattern']">Debe tener al menos 2 caracteres.</span>
            </div>
          </div>
        </div>
            
        <div class="campos-largo">
          <h6 class="title-lastname-doctor">Apellido</h6>
          <input class="input-lastname-doctor" type="text" placeholder="Ingrese apellido" pInputText tabindex="3"
          [(ngModel)]="doctor.lastname" name="lastname" id="lastname" [minlength]="2" #lastname="ngModel"  pattern="^[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+$" required/>
          <div *ngIf="lastname.invalid && (lastname.touched)" class="errors" style="margin-top: 0.3rem;font-size: 14px;">
            <div>
              <span *ngIf="lastname.errors?.['required']">Indique un apellido</span>
            </div>
            <div>
              <span *ngIf="lastname.errors?.['pattern']">No debe contener números</span>
            </div>
            <div>
              <span *ngIf="lastname.errors?.['minlength'] && !lastname.errors?.['pattern']">Debe tener al menos 2 caracteres.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-data-patient">
      <h4 class="title-data">Datos del paciente</h4>
      <div class="container-inputs-data-patient">
        <div class="campos">
          <h6 class="title-age-patient">Fecha de nacimiento</h6>
          <p-calendar
          styleClass="datepicker"
          dateFormat="yy-mm-dd"
          [(ngModel)]="this.diagnostic.dateOfBirth"
          selectionMode="single"
          [readonlyInput]="true"
          [minDate]="minValidDate"
          [maxDate]="maxValidDate"
          placeholder="Ingrese fecha"
          (ngModelChange)="formatDate()"
          [icon]="calendarIcon" #date="ngModel">
          </p-calendar>
          <div *ngIf="date.invalid && (date.touched)" class="errors" style="margin-top: -4rem;font-size: 14px;">
                  <div>
                    <span *ngIf="date.invalid">Indique una fecha</span>
                  </div>
          </div>
        </div>

        <div class="campos">
          <h6 class="title-weight-patient">Peso(kg)</h6>
          <input class="input-weight-patient" type="number" placeholder="Ingrese peso" pInputText tabindex="5"
          [(ngModel)]="diagnostic.weight" name="weight" #weight="ngModel" id="weight"
          pattern="^(?:[1-9]|[1-9][0-9]|1[0-9]{2}|200)$" required/>
          <div *ngIf="weight.invalid && (weight.touched)" class="errors" style="margin-top: -4rem;font-size: 14px;">
            <div>
              <span *ngIf="weight.errors?.['required']">Indique un peso</span>
            </div>
            <div>
              <span *ngIf="weight.errors?.['pattern']">Debe ser entre 1 y 200</span>
            </div>
          </div>
        </div>

        <div class="campos">
          <h6 class="title-height-patient">Altura(cm)</h6>
          <input class="input-height-patient" type="number" placeholder="Ingrese altura" pInputText tabindex="6"
          [(ngModel)]="diagnostic.height"  name="height" #height="ngModel" id="height"
          pattern="^(?:[2-9]|[1-9][0-9]|1[0-9]{2}|200|2[5-9]|[3-9][0-9]|[1-9][0-9]{2}|1[0-9]{3}|2[0-2][0-9]|230)$" required/>
          <div *ngIf="height.invalid && (height.touched)" class="errors" style="margin-top: -4rem;font-size: 14px;">
            <div>
              <span *ngIf="height.errors?.['required']">Indique una altura</span>
            </div>
            <div>
              <span *ngIf="height.errors?.['pattern']">Debe ser entre 25 y 230</span>
            </div>
          </div>
        </div>

        <div class="campos">
          <h6 class="title-gender-patient">Sexo</h6>
          <p-dropdown placeholder="Seleccione" appendTo="body" optionLabel="label"
          [(ngModel)]="diagnostic.gender" [options]="sexOptions" (onChange)="OnSelectedSex($event)"></p-dropdown>
        </div>

        <div class="campos">
          <h6 class="title-body-section-patient">Sección del cuerpo</h6>
          <p-dropdown placeholder="Seleccione" appendTo="body" optionLabel="label"
          [(ngModel)]="diagnostic.sectionBody" [options]="partsOptions" (onChange)="OnSelectedPart($event)"></p-dropdown>
        </div>
      </div>

      <div class="container-inputs-data-long-patient">
        <div>
          <h6 class="title-preconditions-patient">Condiciones previas</h6>
          <div class="container-checkbox">
            <div *ngIf="selectedpartOption" class="checkbox-group">
              <div *ngIf="selectedpartOption === 'Cerebro'" class="checkbox-item">
                <label *ngFor="let option of getObjectKeys(selectedOptionsCerebro)">
                  <input type="checkbox" [(ngModel)]="selectedOptionsCerebro[option]" (ngModelChange)="onCheckboxChange('Cerebro', option)"> {{ option }}
                </label>
              </div>
              <div *ngIf="selectedpartOption === 'Pulmón'" class="checkbox-item">
                <label *ngFor="let option of getObjectKeys(selectedOptionsPulmon)">
                  <input type="checkbox" [(ngModel)]="selectedOptionsPulmon[option]" (ngModelChange)="onCheckboxChange('Pulmón', option)"> {{ option }}
                </label>
              </div>
              <div *ngIf="selectedpartOption === 'Riñón'" class="checkbox-item">
                <label *ngFor="let option of getObjectKeys(selectedOptionsRinion)">
                  <input type="checkbox" [(ngModel)]="selectedOptionsRinion[option]" (ngModelChange)="onCheckboxChange('Riñón', option)"> {{ option }}
                </label>
              </div>
              <div *ngIf="selectedpartOption === 'Muñeca'" class="checkbox-item">
                <label *ngFor="let option of getObjectKeys(selectedOptionsMunieca)">
                  <input type="checkbox" [(ngModel)]="selectedOptionsMunieca[option]" (ngModelChange)="onCheckboxChange('Muñeca', option)"> {{ option }}
                </label>
              </div>
              <div *ngIf="selectedpartOption === 'Rodilla'" class="checkbox-item">
                <label *ngFor="let option of getObjectKeys(selectedOptionsRodilla)">
                  <input type="checkbox" [(ngModel)]="selectedOptionsRodilla[option]" (ngModelChange)="onCheckboxChange('Rodilla', option)"> {{ option }}
                </label>
              </div>
              <div *ngIf="selectedpartOption === 'Corazon'" class="checkbox-item">
                <label *ngFor="let option of getObjectKeys(selectedOptionsCorazon)">
                  <input type="checkbox" [(ngModel)]="selectedOptionsCorazon[option]" (ngModelChange)="onCheckboxChange('Corazon', option)"> {{ option }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
 
  <div class="formulario">
    <div class="container-custom-file-input">
      <input type="file" id="chooseFileInput" accept="image/jpeg, image/png, .zip" (change)="onFileSelect($event)" style="display: none;" #chooseFileInput />
      <img *ngIf="!imagenURL" src="assets/img/foto-subir-archivo.png" (click)="chooseFileInput.click()" style="cursor: pointer;" />
      <div class="formatos">
        <p *ngIf="!imagenURL" style="font-size: 12px;text-align: center;">Formatos soportados</p>
        <p *ngIf="!imagenURL" style="font-size: 12px;text-align: center;">JPEG - PNG (no permitido en rodilla)</p>
        <p *ngIf="!imagenURL" style="font-size: 12px;text-align: center;">ZIP (exclusivo de rodilla)</p>
      </div>
      <div class="image-preview-container" *ngIf="imagenURL && uploadedFile">
        <img [src]="imagenURL" alt="Archivo cargado" class="preview-image">
      </div>
    </div>
    <p-button styleClass="p-button-global" (click)="cancelImageUpload()" label="Cancelar" *ngIf="showCancelButton"></p-button>
    <p-button styleClass="p-button-global" (click)="diagnosticResult()" label="Enviar datos" [disabled]="isResultButtonDisabled"></p-button>
  </div>

  <div class="container" *ngIf="esVisible">
    <dialog class="container-logout">
      <h2 class="title-logout">Informe de diagnostico cargado</h2>
      <h4 class="subtitle-logout">Su numero de informe es {{nroResultado}}</h4>
      <div class='button-container-logout'>
        <div class="gradient-button-logout container-gradient-border">
          <button class="gray-button-logout button-logout" (click)="this.updateSharedValue()">Ok</button>
        </div>
      </div>
    </dialog>
  </div>
</div>