:host::ng-deep .p-sidebar{
    font-size: var(--font-size-title6);
    width: 200px;
}
.button-toggle-sidebar {
    position: absolute;
    top: 15px;
    left: 15px;
    border: none;
    background-color: transparent;
}
.header-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 0px auto;
    width: 200px;
    position: relative;
    left: -20px;
}
.name-header-sidebar {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    margin: 0px;

}
.id-header-sidebar {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
}
.content-sidebar {
    margin: auto;
}
.link-sidebar {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: #EFEFEF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.link:hover {
    text-decoration: underline;
}
.logout-link-sidebar {
    display: block;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

:host::ng-deep .p-sidebar .p-sidebar-content{
    padding: 0;
}

@media screen and ( max-height: 640px ) { 
    .header-sidebar{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 200px;
        position: relative;
        align-items: center;
        left: 0px;
    }

    .header-sidebar img{
        height: 90px;
        width: 90px;
    }

    .name-header-sidebar {
        font-size: 16px;
    }

    .id-header-sidebar {
        font-size: 16px;
    }

    .link-sidebar {
        font-size: 14px;
        padding: 0px;
    }

    .logout-link-sidebar {
        font-size: 14px;
    }

    .content-sidebar {
        margin: 0px;
    }

    :host::ng-deep .p-sidebar .p-sidebar-content{
        padding: 0;
        display: flex;
        gap: 3vh;
        flex-direction: column;
    }

    :host::ng-deep .p-sidebar .p-sidebar-header {
        padding: 0px;
        margin-top: 60px;
        margin-bottom: auto;
    }

    :host::ng-deep .p-sidebar .p-sidebar-footer {
        padding: 0px;
        margin-bottom: 2vh;
    }

    :host::ng-deep .p-sidebar-content {
        overflow-y: hidden;
    }

    :host::ng-deep .p-sidebar{
        justify-content: space-evenly;
    }
 }

 @media screen and ( max-height: 530px ) {
    :host::ng-deep .p-sidebar .p-sidebar-header {
        padding: 0px;
        margin-top: 40px;
        margin-bottom: auto;
    }
    .header-sidebar img{
        height: 80px;
        width: 80px;
    }
  }

 @media screen and ( max-height: 420px ) {
    :host::ng-deep .p-sidebar .p-sidebar-header {
        padding: 0px;
        margin-top: 20px;
        margin-bottom: auto;
    }
    .header-sidebar img{
        height: 70px;
        width: 70px;
    }
  }



