<p-sidebar  [(visible)]="sidebarVisible" [style]="{background: 'linear-gradient(#797979, #4c707d, #1b6581, #4b5c8b)'}" [showCloseIcon]="false" >
    <ng-template pTemplate="header">
      <div class="header-sidebar">
        <img src="./../../../assets/img/profile.webp" alt="">
        <p class="name-header-sidebar">{{ userData.nombre }} {{ userData.apellido }}</p>
        <p class="id-header-sidebar">{{ userData.dni}} </p>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="content-sidebar"></div>
      <a *ngFor="let item of getMenuItemsForRole(role)" [routerLink]="item.link" class="link-sidebar link" href="">{{ item.label }}</a>

    </ng-template>
    <ng-template pTemplate="footer">
      <a (click)="this.updateLogoutVisible()" class="logout-link-sidebar link">Cerrar sesión</a>
    </ng-template>
</p-sidebar>
<button (click)="sidebarVisible = true" class="button-toggle-sidebar">
  <img src="./../../../assets/img/LogoSpin.webp" alt="" width="36" height="36">
</button>
<app-logout *ngIf="this.esVisible == true"></app-logout>
