.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #efefef;
    justify-content: center;
    margin-top: 130px;
}

.container-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--border-box-color);
    background: #ffffff;
    box-sizing: border-box;
    padding: 25px;
    justify-content: center;
    gap: 25px;
    max-width: 700px;
    min-width: 300px;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    align-self: stretch;
    flex-wrap: wrap;
}

.label-input-register {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin: 0px !important;
}

:host ::ng-deep .p-dropdown {
    width: 258px;
    text-align: left;
}

:host ::ng-deep .p-dropdown .p-inputtext {
    text-indent: 30px;
}

:host ::ng-deep .p-password {
    width: 258px;
    text-align: left;
}

:host ::ng-deep .p-password .p-icon {
    height: 20px;
    width: 20px;
}

:host ::ng-deep .p-password .p-inputtext {
    text-indent: 30px;
}


/*:host::ng-deep .p-input-icon-left .p-inputtext{
    padding: 0px;
}

:host::ng-deep .p-inputtext {
    width: 300px;
    display: flex;
    align-items: center;
    border: transparent;
}

:host::ng-deep .p-inputtext:focus {
    box-shadow: none !important;
}*/

.p-button-link:focus, .p-button-link:enabled:focus{
    box-shadow: none !important;
}

:host::ng-deep .p-button-link{
    width: 300px;
    padding: 0px;
}

:host::ng-deep .p-button-global{
    margin-top: 0px;
}

:host ::ng-deep .medicalSpeciality .p-placeholder::before {
    content: '\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0';
    background-image: url('https://picsum.photos/200');
    background-size: 20px 20px;
    background-repeat: no-repeat;
   }

@media screen and (max-width: 767px) {
    .forms {
      flex-direction: column;
      gap: 10px;
    }
    .container-registro{
        border: transparent;
        background: transparent;
        gap: 20px;
    }

    .registro{
        margin-top: 60px;
        height: 100%;
    }
  }