<p-toast></p-toast>
<app-header/>
<div class="registro">
    <div class="container-registro">
      <label class="title4">Bienvenid@</label>
        <div class="forms">
          <div class="campo">
            <label class="label-input-register">Nombre</label>
              <span class="p-input-icon-left">
                  <i class="pi pi-user-edit" style="font-size: 18px; color: #797979;"></i>
                  <input type="text" pInputText [(ngModel)]="user.name" #name="ngModel" [minlength]="2" pattern="^[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+$"  required placeholder="Ingresar nombre"/>
            </span>
            <div *ngIf="name.invalid && (name.touched)" class="errors" style="margin-top: 0.3rem;">
              <div>
                <span *ngIf="name.errors?.['required']">
                  Indique un nombre
                </span>
              </div>
              <div>
                <span *ngIf="name.errors?.['pattern']">
                  No debe contener numeros
                </span>
            </div>
            <div>
              <span *ngIf="name.errors?.['minlength'] && !name.errors?.['pattern']">
                Debe tener al menos 2 caracteres.
              </span>
            </div>
            </div>
          </div>
          <div class="campo">
            <label class="label-input-register">Apellido</label>
              <span class="p-input-icon-left">
                <i class="pi pi-user-edit" style="font-size: 18px; color: #797979;"></i>
                <input type="text" pInputText [(ngModel)]="user.lastName" #lastname="ngModel" [minlength]="2" pattern="^[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+$"  required  placeholder="Ingresar apellido"/>
            </span>
            <div *ngIf="lastname.invalid && (lastname.touched)" class="errors" style="margin-top: 0.3rem;">
            <div>
              <span *ngIf="lastname.errors?.['required']">
                Indique un apellido
              </span>
            </div>
            <div>
              <span *ngIf="lastname.errors?.['pattern']">
                No debe contener numeros
              </span>
          </div>
          <div>
            <span *ngIf="lastname.errors?.['minlength'] && !lastname.errors?.['pattern']">
              Debe tener al menos 2 caracteres.
            </span>
          </div>
        </div>
          </div>
          <div class="campo">
            <label class="label-input-register">DNI</label>
              <span class="p-input-icon-left">
                <i class="pi pi-id-card" style="font-size: 18px; color: #797979;"></i>
                <input type="text" pInputText [(ngModel)]="user.dni" #dni="ngModel" required pattern="^[0-9]{7,8}$"
                placeholder="Ingresar DNI"/>
            </span>
            <div *ngIf="dni.invalid && (dni.touched)" class="errors" style="margin-top: 0.3rem;">
              <div>
                <span *ngIf="dni.errors?.['required']">
                  Indique un DNI
                </span>
              </div>
              <div>
                <span *ngIf="dni.errors?.['pattern']">
                  Debe ser entre 7 y 8 digitos numericos.
                </span>
            </div>
            </div>
          </div>
          <div class="campo">
            <label class="label-input-register">Especialidad</label>
              <span class="p-input-icon-left">
                  <i class="pi pi-briefcase" style="font-size: 18px; color: #797979; z-index: 2;"></i>
                  <p-dropdown
                    placeholder="Elegir"
                    appendTo="body"
                    optionLabel="label"
                    [(ngModel)]="user.medicalSpeciality"
                    name="medicalSpeciality"
                    [options]="medicalSpeciality"
                    (onChange)="OnSelectedMedicalSpeciality($event)">
                    </p-dropdown>
                </span>
          </div>
          <div class="campo">
            <label class="label-input-register">Email</label>
            <span class="p-input-icon-left">
              <i class="pi pi-at" style="font-size: 18px; color: #797979;"></i>
              <input type="email" pInputText [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Ingresar email"/>
            </span>
            <div *ngIf="email.invalid && (email.touched)" class="errors" style="margin-top: 0.3rem;">
              <div>
                <span *ngIf="email.errors?.['required']">
                  Indique un email
                </span>
              </div>
              <div>
                <span *ngIf="email.errors?.['pattern']">
                  Ingrese un email válido.
                </span>
              </div>
            </div>
          </div>
          <div class="campo">
            <label class="label-input-register">Contraseña</label>
            <span class="p-input-icon-left">
              <i class="pi pi-lock" style="font-size: 18px; color: #797979; z-index: 2;"></i>
              <p-password
                [(ngModel)]="user.password"
                [toggleMask]="true"
                promptLabel=" "
                weakLabel="Baja"
                mediumLabel="Media"
                strongLabel="Fuerte"
                placeholder="Ingresar contraseña"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z0-9]*$"
                #password="ngModel"
                required
              >
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="footer">
                  <br>
                  <p class="mt-2">La contraseña debe tener</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>Al menos una minúscula</li>
                    <li>Al menos una mayúscula</li>
                    <li>Al menos un número</li>
                    <li>8 caractéres mínimo</li>
                    <li>No debe contener caracteres especiales</li>
                  </ul>
                </ng-template>
              </p-password>
            </span>
            <div *ngIf="password.invalid && (password.touched)" class="errors" style="margin-top: 0.3rem;">
              <div>
                <span *ngIf="password.errors?.['required']">
                  Indique una contraseña
                </span>
              </div>
              <div>
                <span *ngIf="password.errors?.['pattern']">
                  Cumplir con los requisitos mencionados.
                </span>
              </div>
            </div>
          </div>
        </div>
          <button class="p-button-global" style="color: white;" (click)="registrarse()">Registrarse</button>
          <p-button styleClass="p-button-link" label="¿Ya estás registrado? Ingresa ahora" routerLink="/login"></p-button>
    </div>
  </div>
