.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #efefef;
    justify-content: center;
    margin-top: 130px;
}

.container-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--border-box-color);
    background: #ffffff;
    box-sizing: border-box;
    padding: 25px;
    justify-content: center;
    gap: 25px;
    max-width: 700px;
    min-width: 300px;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    align-self: stretch;
    flex-wrap: wrap;
}

.label-input-register {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin: 0px !important;
}

:host ::ng-deep .p-dropdown {
    width: 300px;
    height: 60px;
    text-align: left;
}

:host ::ng-deep .p-dropdown .p-inputtext {
    text-indent: 30px;
    margin-top: 6px;
}

:host ::ng-deep .p-password {
    width: 300px;
    height: 60px;
    text-align: left;
}

:host ::ng-deep .p-password .p-icon {
    height: 20px;
    width: 20px;
}

:host ::ng-deep .p-password .p-inputtext {
    text-indent: 30px;
}

:host::ng-deep .p-inputtext {
    width: 300px;
    height: 60px;
}

.p-button-link:focus, .p-button-link:enabled:focus{
    box-shadow: none !important;
}

:host::ng-deep .p-button-link{
    padding: 0px;
    font-size: 14px !important;
}

:host::ng-deep .p-button-global{
    margin-top: 0px;
}

:host::ng-deep .p-dialog .p-dialog-header {
    justify-content: center;
    padding: 0px;
}

:host::ng-deep .p-dialog .p-dialog-content {
    justify-content: center;
    padding: 0px;
}

:host::ng-deep .p-dialog .p-dialog-footer {
    justify-content: center;
    padding: 0px;
    display: flex;
}

:host::ng-deep .p-dialog {
    gap: 25px;
    padding: 15px;
    background: white;
    border: 2px solid var(--border-box-color);
    border-radius: 10px;
    width: 85vw;
    max-width: 400px;
}

.paragraph3{
    margin: 0px;
}

.title4{
    margin: 0px;
}
.blur-div{
    filter: blur(2px);
}

@media screen and (max-width: 767px) {
    .forms {
      flex-direction: column;
      gap: 10px;
    }
    .container-registro{
        border: transparent;
        background: transparent;
        gap: 20px;
    }

    .registro{
        margin-top: 60px;
        height: 100%;
    }

    .title4 {
        justify-content: center;
        font-size: 24px;
        padding: 0px;
        margin: 0px;
    }
  }

  .errors{
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: contents;
    width: 300px;
  }
  .errors span{
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: contents;
    width: 300px;
  }
