<app-header/>
<div class="registro">
    <div class="container-registro">
      <label class="title4">Bienvenid@</label>
        <div class="forms">
          <div class="campo">
            <label class="label-input-register">Nombre</label>
              <span class="p-input-icon-left">
                <span class="icon">
                  <i class="pi pi-user-edit" style="font-size: 1.5rem; padding: 10px 10px 10px 10px; color: #797979;"></i>
                </span>
                <input type="text" pInputText ngModel required placeholder="Ingresar nombre"/>
            </span>
          </div>
          <div class="campo">
            <label class="label-input-register">Apellido</label>
              <span class="p-input-icon-left">
                <span class="icon">
                  <i class="pi pi-user-edit" style="font-size: 1.5rem; padding: 10px 10px 10px 10px; color: #797979;"></i>
                </span>
                <input type="text" pInputText ngModel required placeholder="Ingresar apellido"/>
            </span>
          </div>
          <div class="campo">
            <label class="label-input-register">DNI</label>
              <span class="p-input-icon-left">
                <span class="icon">
                  <i class="pi pi-id-card" style="font-size: 1.5rem; padding: 10px 10px 10px 10px; color: #797979;"></i>
                </span>
                <input type="text" pInputText ngModel required placeholder="Ingresar DNI"/>
            </span>
          </div>
          <div class="campo">
            <label class="label-input-register">Especialidad</label>
              <span class="p-input-icon-left">
                <span class="icon">
                  <i class="pi pi-briefcase" style="font-size: 1.5rem; padding: 10px 10px 10px 10px; color: #797979;"></i>
                </span>
                <p-dropdown
                  placeholder="Elegir"
                  appendTo="body" 
                  optionLabel="label"
                  [(ngModel)]="user.medicalSpeciality"
                  name="medicalSpeciality"
                  [options]="medicalSpeciality"
                  (onChange)="OnSelectedMedicalSpeciality($event)">
                  </p-dropdown>
              </span>
          </div>
          <div class="campo">
            <label class="label-input-register">Email</label>
              <span class="p-input-icon-left">
                <span class="icon">
                  <i class="pi pi-at" style="font-size: 1.5rem; padding: 10px 10px 10px 10px; color: #797979;"></i>
                </span>
                <input type="email" pInputText ngModel required placeholder="Ingresar email"/>
            </span>
          </div>
          <div class="campo">
            <label class="label-input-register">Contraseña</label>
              <span class="p-input-icon-left">
                <span class="icon">
                  <i class="pi pi-lock" style="font-size: 1.5rem; padding: 10px 10px 10px 10px; color: #797979;"></i>
                </span>
                <input type="password" pInputText ngModel required placeholder="*********"/>
            </span>
          </div>
        </div>
          <button class="p-button-global" style="color: white;" (click)="registrarse()">Registrarse</button>
          <p-button styleClass="p-button-link" label="Ya estás registrado? Ingresa ahora!" routerLink="/login"></p-button>
    </div>
  </div>
