.formulario{
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.container-custom-file-input {
  margin: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.imagen-pre{
  width: 300px;
  height: 200px;
}

/*
-------------------------------------------------------------
:host ::ng-deep .p-button{
  margin:4vw;
  color:rgb(127, 19, 41);
}*/

