<div class="formulario">
  <div class="container-custom-file-input">
    <input type="file" accept="image/*" (change)="onFileSelect($event)" style="display: none;" #chooseFileInput />
    <img *ngIf="!imagenURL" src="assets/img/foto-subir-archivo.png" (click)="chooseFileInput.click()" style="cursor: pointer;" />
    <div class="image-preview-container" *ngIf="imagenURL">
      <img [src]="imagenURL" alt="Vista previa de la imagen subida" class="preview-image">

    </div>
  </div>
  <p-button styleClass="p-button-global" (click)="diagnosticResult()" label="Enviar datos" [disabled]="isResultButtonDisabled"></p-button>
</div>
