<app-navbar [pageTitle]="tituloDinamico"></app-navbar>
<div class="historial">
    <div class="container-table-historial">
        <div class="filters">
            <span class="p-input-icon-left">
                <span class="icon">
                    <i class="pi pi-search" style="font-size: 1.5rem; padding: 10px 10px 10px 10px;"></i>
                </span>
                <input type="text" pInputText [(ngModel)]="value" placeholder="Código de Imágen, Estudio..."/>
            </span>
            <span class="p-input-icon-left">
                <span class="icon">
                    <i class="pi pi-calendar" style="font-size: 1.5rem; padding: 10px 10px 10px 10px;"></i>
                </span>
                <span>
                    <p-calendar  
                    [(ngModel)]="rangeDates" 
                    selectionMode="range" 
                    [readonlyInput]="true" 
                    placeholder="Fecha/s"
                    [maxDate]="dateTime"
                    [icon]="calendarIcon">
                    </p-calendar>
                </span>
            </span>
        </div>
        <div class="table">
            <p-table responsiveLayout="stack" [breakpoint]="'769px'" [tableStyle]="{'min-width': '50rem'}" [value]="data">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Código de Imágen</th>
                        <th>Fecha</th>
                        <th>Estudio</th>
                        <th>Médico</th>
                        <th>_____</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-diagexample let-columns="columns">
                    <tr>
                        <td><span class="p-column-title">Código de Imágen</span>{{diagexample.code}}</td>
                        <td><span class="p-column-title">Fecha</span>{{diagexample.date}}</td>
                        <td><span class="p-column-title">Estudio</span>{{diagexample.study}}</td>
                        <td><span class="p-column-title">Médico</span>{{diagexample.doctor}}</td>
                        <td><span class="p-column-title">Acción</span><p-button type="button" label="Resultado" class="button-view-result"></p-button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
