<p-toast></p-toast>

<app-navbar [pageTitle]="tituloDinamico"></app-navbar>
<div class="historial">
    <div class="container-table-historial">
        <div class="filters">
            <span class="p-input-icon-left">
                <span class="icon">
                    <i class="pi pi-search" style="font-size: 1.5rem; padding: 10px 10px 10px 10px;"></i>
                </span>
                <input type="text" (input)="dtTransactions.filterGlobal($any($event.target).value, 'contains')"
                pInputText [(ngModel)]="value" placeholder="Código de Imágen, Estudio..."/>
            </span>
            <span class="p-input-icon-left">
                <span class="icon">
                    <i class="pi pi-calendar" style="font-size: 1.5rem; padding: 10px 10px 10px 10px;"></i>
                </span>
                <span>
                    <p-calendar
                    [(ngModel)]="rangeDates"
                    selectionMode="range"
                    [readonlyInput]="true"
                    placeholder="Fecha/s"
                    [maxDate]="dateTime"
                    [icon]="calendarIcon"
                    [dateFormat]="'yy-mm-dd'"
                    (onSelect)="applyDateFilter()">
                    >
                    </p-calendar>
                </span>
            </span>
            <div *ngIf="isFilter">
            <span class="icon">
              <p-button icon="pi pi-filter-slash" styleClass="p-button-filter" (click)="clearFilter()" class="p-button-text"></p-button>
            </span>
          </div>
        </div>
        <div class="table">
            <p-table responsiveLayout="stack"
             [breakpoint]="'768px'"
             [tableStyle]="{'min-width': '300px'}"
             [value]="isFilter ? filteredData : records"
             id="tableTransactions"
             #dtTransactions
             [paginator]="true"
             [rows]="3"
             [rowsPerPageOptions]="[1, 2, 3, 4 , 5]"
             [globalFilterFields]="['imagen_id','modelo_nombre', 'nombre_medico']"
             selectionMode="single"
             autocomplete="off"
             >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Código de Informe</th>
                        <th>Fecha</th>
                        <th>Estudio</th>
                        <th>Médico</th>
                        <th>_____</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record let-columns="columns">
                    <tr>
                        <td><span class="p-column-title">Código de Informe</span>{{record.id}}</td>
                        <td><span class="p-column-title">Fecha</span>{{record.fecha}}</td>
                        <td><span class="p-column-title">Estudio</span>{{record.modelo_nombre}}</td>
                        <td><span class="p-column-title">Médico</span>{{record.nombre_medico}}</td>
                        <td><span class="p-column-title">Acción</span><p-button type="button" label="Resultado" (onClick)="getRecord(record.id)" class="button-view-result"></p-button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
