.historial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #efefef;
    justify-content: center;
    margin-top: 130px;
}

.container-table-historial {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    border-radius: 10px;
    border: 2px solid var(--border-box-color);
    background: #ffffff;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 1700px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    min-width: 300px;
}

:host::ng-deep .p-table{
    border: 2px solid var(--border-box-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

:host::ng-deep .p-input-icon-left {
        display: flex;
        max-width: 400px;
        height: 60px;
        align-items: center;
        border-radius: 10px;
        background: #ffffff;
        border: 2px solid var(--border-box-color);
        min-width: 300px;
}

:host::ng-deep .p-input-icon-left .p-inputtext{
    padding: 0px;
}

:host::ng-deep .button-view-result .p-button {
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 10px;
    background: var(--gradient-pink);
    font-size: 15.94px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border: none;
}

td, tr, th {
    text-align: center;
}

:host::ng-deep .p-inputtext {
    width: 100%;
    display: flex;
    align-items: center;
    border: transparent;
}

:host::ng-deep .p-inputtext:focus {
    box-shadow: none !important;
}

:host::ng-deep .p-button-filter{
  content: "\e9b7";
  color: white;
  background: var(--gradient-pink);
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
}

@media screen and (max-width: 767px) {
    .filters {
      flex-direction: column;
    }
  }
