<p-toast></p-toast>
<app-loader></app-loader>
<app-navbar [pageTitle]="tituloDinamico"></app-navbar>
<div class="historial">
    <div class="container-table-historial">
        <div class="filters">
            <!--div class="campo">
                <span class="p-input-icon-left">
                    <span class="icon">
                        <i class="pi pi-search" style="font-size: 1.5rem; padding: 10px 10px 10px 10px;"></i>
                    </span>
                    <input type="text" (input)="dtTransactions.filterGlobal($any($event.target).value, 'contains')"
                    pInputText [(ngModel)]="value" placeholder="Código de Informe, Estudio..."/>
                </span>
            </div-->
            <div>
                <span class="p-input-icon-left">
                    <i class="pi pi-search" style="font-size: 18px; color: #797979;"></i>
                    <input styleClass="campo1" type="text" (input)="dtTransactions.filterGlobal($any($event.target).value, 'contains')"
                    pInputText [(ngModel)]="value" placeholder="Código de Informe, Estudio..."/>
                </span>
            </div>
            <div>
                <span class="p-input-icon-left">
                    <i class="pi pi-calendar" style="font-size: 18px; color: #797979; z-index: 2;"></i>
                    <p-calendar
                        styleClass="campo2"
                        [(ngModel)]="rangeDates"
                        selectionMode="range"
                        [readonlyInput]="true"
                        placeholder="Fecha/s"
                        [maxDate]="dateTime"
                        [icon]="calendarIcon"
                        [dateFormat]="'yy-mm-dd'"
                        (onSelect)="applyDateFilter()">
                        >
                    </p-calendar>
                </span>
            </div>
            <div *ngIf="isFilter">
            <span class="icon">
              <p-button icon="pi pi-filter-slash" styleClass="p-button-filter" (click)="clearFilter()" class="p-button-text"></p-button>
            </span>
          </div>
        </div>
        <div class="table">
            <p-table responsiveLayout="stack"
             [breakpoint]="'767.5px'"
             [tableStyle]="{'min-width': '300px'}"
             [value]="isFilter ? filteredData : records"
             id="tableTransactions"
             [paginator]="true"
             [rows]="3"
             #dtTransactions
             [globalFilterFields]="['id','modelo_nombre', 'nombre_medico', 'apellido_medico']"
             selectionMode="single"
             autocomplete="off"
             sortMode="single"
             [resetPageOnSort]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pSortableColumn="id" style="width:20%">Código de Informe</th>
                        <th pSortableColumn="fecha" style="width:20%">Fecha</th>
                        <th pSortableColumn="modelo_nombre" style="width:20%">Estudio</th>
                        <th pSortableColumn="apellido_medico" style="width:20%">Médico</th>
                        <th> </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record let-columns="columns">
                    <tr>
                        <td pSortableColumn="id" style="width:20%"><span class="p-column-title">Código de Informe</span>{{record.id}}</td>
                        <td pSortableColumn="fecha" style="width:20%"><span class="p-column-title">Fecha</span>{{record.fecha}}</td>
                        <td pSortableColumn="modelo_nombre" style="width:20%"><span class="p-column-title">Estudio</span>{{record.modelo_nombre}}</td>
                        <td pSortableColumn="apellido_medico" style="width:20%"><span class="p-column-title">Médico</span>{{ (record.apellido_medico ?? '') + ' ' + (record.nombre_medico ?? '') }}</td>
                        <td style="justify-content: center;"><span class="p-column-title"> </span><p-button type="button" label="Resultado" (onClick)="getRecord(record.id)" class="button-view-result"></p-button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
