
<div class="formulario">
    <div class="container-custom-file-input">

        <p-fileUpload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" (onSelect)="onFileSelect($event)" (onUpload)="onUpload($event)" (onClear)="onClearUpload()" [showUploadButton]="isValid" [disabled]="isChooseButtonDisabled" [multiple]="false" [accept]="acceptedFileTypes" [maxFileSize]="maxFileSize"  accept="image/*"  >
            <ng-template pTemplate="toolbar">

            </ng-template>
            <ng-template let-file pTemplate="file">
                <div>
                    <div>{{ file.name }} - {{ file.size }} bytes</div>
                </div>
                <div *ngIf="!isValid">
                    <div>El archivo es demasiado pequeño</div>
                </div>
            </ng-template>
            <ng-template pTemplate="content" let-files>
                <div>
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                    <!-- Vista previa de la imagen -->
                <img class="imagen-pre" *ngIf="imagenURL" [src]="imagenURL" alt="Vista previa de la imagen subida" />
                <p class="image-placeholder" *ngIf="mostrarTextoInicial" >Seleccione una imagen para diagnosticar</p>
                <p-button *ngIf="isCancelButtonVisible" class="cancel-button" (click)="onCancel()" label="Cancel"></p-button>
                </div>
            </ng-template>
        </p-fileUpload>
        <p-button class="result-button" (click)="diagnosticResult()"  label="Resultado" [disabled]="isResultButtonDisabled" ></p-button>

</div>
