html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

.root{
  display: block;
  height: 100%;
}

* {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}
.view{
  height: 100%;
}
.container{
  position: absolute;
  top: 70px;/* Agrega un espacio superior de 70px por la altura del header */
  left: 0;
  right: 0;
  height: calc(100% - 70px); /* Calcula la altura, restando 70px desde la altura total de la ventana */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  align-items: center;
  background-color: #124694;
  color: white;
  font-weight: 600;
}

.toolbar .button-login {
  height: 40px;
  float: right;
  margin-top: -3.5rem;
}

.global-message-error {
  span {
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    display: block;
  }
}

.global-table {

  margin: 0vw 0vw 1vw 0vw;

  table {
    border-collapse: separate;
  }

  .p-datatable-thead th:first-child {
    border-top-left-radius: 10px;

  }

  .p-datatable-thead th:last-child {
    border-top-right-radius: 10px;
  }

  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  .p-datatable .p-datatable-thead>tr>th {
    text-align: center;
    border-color: black;
    background: #BBBABF;
    text-align: center;
    padding: 0.3rem;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    color: black;
  }

  .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    border-color: black;
    padding: 1rem;
  }
}

@keyframes cambiaColoresBorde {
  0% {
    border-color: rgba(0, 25, 255, 1);
  }

  25% {
    border-color:rgba(101, 0, 180, 1);
  }

  50% {
    border-color: rgba(37, 255, 1, 1);
  }

  75% {
    border-color: rgba(101, 0, 180, 1);
  }

  100% {
    border-color: rgba(0, 25, 255, 1);
  }
  
}

.login-container {
  width: 498px;
  height: 445px;
  flex-shrink: 0;  
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  animation: cambiaColoresBorde 5s ease-in infinite;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.titulo-iniciar-sesion{
  color: black;
  font-weight: bold;
}

.campos-iniciar-sesion {
  margin-bottom: 20px;
  color:black;
}

.boton{
  width: 418.32px;
  height: 59.775px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(90deg, #E62D9C 0.04%, #531981 102.56%);
  color: white;
  font-weight: bold;
  
}

.etiquetas-iniciar-sesion {
  display: block;
  color: rgb(0, 0, 0);
}

