:root {
  display: block;
  height: 100%;
  --background-color-light: #f2f0f0;
  --font-color-light: #ffffff;
  --gradient-green: linear-gradient(90deg, #797979, #4c707d, #1b6581, #4b5c8b);
  --gradient-pink: linear-gradient(90deg, #e62d9c 0.04%, #531981 102.56%);
  --error-color: red;
  --border-box-color: #598480;
  --font-title5 : font-size: 24px;
  
}

html,
body {
  margin: 0%;
  padding: 0%;
}

* {
  font-family: "Poppins", sans-serif;
}

div .global-label {
  width: 40%;
  margin-left: 8%;
  font-size: 40px;
}

div h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: #131325;
  text-align: center;
  width: 100%;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.view {
  height: 100%;
}

.container {
  position: absolute;
  top: 70px;
  /* Agrega un espacio superior de 70px por la altura del header */
  left: 0;
  right: 0;
  height: calc(100% - 70px);
  /* Calcula la altura, restando 70px desde la altura total de la ventana */
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.container-header-inicio {
  height: calc(100% - 80px);
}

.container-content-inicio {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.container-description-inicio {
  height: 120rem;
}

.global-message-error {
  span {
    color: var(--error-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    display: block;
  }
}

.boton-home {
  .p-button {
    color: rgba(236, 233, 233, 0.767);
  }
}
.p-button-link {
  color: #000;
  font-size: 16px;
  font-style: auto;
  font-family: "Open Sans", sans-serif;
}

.display1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: #0C0C20;
}

.title1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: #0C0C20;
}

.title2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #0C0C20;
}

.title3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #0C0C20;
}

.title4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #0C0C20;
}

.title5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #0C0C20;
}

.title6 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #0C0C20;
}

