:root {
  height: 100%;
  --background-color-light: #f2f0f0;
  --font-color-light: #ffffff;
  --gradient-green: linear-gradient(90deg, #797979, #4c707d, #1b6581, #4b5c8b);
  --gradient-pink: linear-gradient(90deg, #e62d9c 0.04%, #531981 102.56%);
  --error-color: red;
  --border-box-color: #598480;
  --font-family-all: "Poppins", sans-serif;
  --font-family-error: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-size-display1: 6vw;
  --font-size-title1: 56px;
  --font-size-title2: 48px;
  --font-size-title3: 36px;
  --font-size-title4: 32px;
  --font-size-title5: 24px;
  --font-size-title6: 18px;
  --font-size-paragraph1: 32px;
  --font-size-paragraph2: 24px;
  --font-size-paragraph3: 18px;
  --text-color-1: #0C0C20;
  --header-height: 70px;
}

html,
body {
  margin: 0%;
  padding: 0%;
  //Cualquier cosa sacar min-height
  //min-height: 100vh;
  background: #efefef;
  //y background si funciona mal en otras pantallas!!!
}

* {
  font-family: var(--font-family-all);
}

.p-button-link {
  color:var(--text-color-1);
  font-size: 16px;
  font-style: auto;
}

.p-button-global {
  width: 300px;
  height: 4rem;
  align-items: center;
  border-radius: 10px;
  background: var(--gradient-pink);
  font-size: 15.94px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  bottom: 1rem;
  margin-top: 1rem;
  border: none;

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }
}

.display1, .title1, .title2, .title3, .title4, .title5, .title6, .paragraph1, .paragraph2, .paragraph3 {
  font-family: var(--font-family-all);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-1);
  display: flex;
  justify-content: center;
  margin: 2vw ;
  flex: 1;
}

.display1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-display1);
  margin: 0;
}

.title1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title1);
}

.title2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title2);
}

.title3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title3);
}

.title4 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title4);
}

.title5 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title5);
}

.title6 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-title6);
}

.paragraph1 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-paragraph1);
}

.paragraph2 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-paragraph2);
}

.paragraph3 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-paragraph3);
}
