<p-toast></p-toast>
<app-header></app-header>
<div class="body-two-factor">
    <div class="container-two-factor">
        <h2 class="title-two-factor">Atención!</h2>
        <div class="container-icon-two-factor">
          <img src="./../../../assets/img/Ellipse 6.png" class="circle-two-factor">
          <i class="pi pi-envelope icon-two-factor"></i>
      </div>
        <h4 class="subtitle-two-factor">Te enviamos un mensaje!</h4>
        <h4 class="instruction-two-factor">Por favor, ingresa el código de verificación</h4>
        <h4 class="code-title-two-factor">Código de verificación</h4>
        <form class="form-two-factor">
          <div class="code-two-factor">
                <input type="text" pInputText class="input-two-factor" name="first" maxlength="6" [(ngModel)]="value" (input)="isCorrectInput()">
          </div>
            <button class="disabled-button-two-factor" [hidden]="this.correctLength"> Verificar</button>
            <button class="gradient-button-two-factor" [hidden]="!this.correctLength"> Verificar</button>
            <a routerLink="" class="link-two-factor" href="">Volver a la página principal</a>
            
        </form>
      </div>
    </div>






