.body-two-factor {
    height: 100%;
    width:  100%;
    background-color: #efefef;
}
.container-two-factor {
    width: 460px;
    height: 636px;
    margin: 65px auto auto;
    border: 2px solid var(--border-box-color);
    background-color: var(--font-color-light);
    border-radius: 10px;
    padding: 20px;
}
.title-two-factor {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0px;
}
.container-icon-two-factor {
    width: 100px;
    height: 100px;
    margin:40px auto auto;
    text-align: center;
    position: relative;
}
.icon-two-factor {  
    font-size: 90px;
}
.circle-two-factor {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
}
.subtitle-two-factor {
    text-align: center;
    color: #000;
    font-weight: 400;
    margin: 25px 0px;
    font-size: 30px;
}
.instruction-two-factor {
    text-align: center;
    color: #797979;
    font-weight: 400;
    margin: 25px 0px;
    font-size: 18px;
}
.code-title-two-factor {
    text-align: center;
    color: #000;
    font-weight: 400;
    margin: 25px 0px;
    font-size: 16px;
}
.form-two-factor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.code-two-factor {
    display: flex;
    justify-content: space-around;
}
.input-two-factor {
    width: 300px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Difuminado-navbar, #797979);
    background: var(--base-white, #FFF);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #000;
}
.disabled-button-two-factor {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(230, 45, 156, 0.25) 0.04%, rgba(83, 25, 129, 0.25) 102.56%);
    border: none;
    color: var(--Campos, #797979);
    margin: auto;
    font-size: 18px;
    font-weight: 700;
}
.gradient-button-two-factor {
    font-family: var(--font-family-all);
    width: 300px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
    background: var(--gradient-pink);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin: auto;
  }
  .gradient-button-two-factor:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  .gradient-button-reset:hover {
    cursor: pointer;
  }
  .link-two-factor {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
}
.modal-title-two-factor {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: auto;
  }
  .modal-content-two-factor {
    color: #797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0%;
    position: relative;
    top: 20px;
  }
  .modal-inicio-two-factor {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
  }
.blur-div{
    filter: blur(2px);
  }

@media screen and (max-width: 768px) {
    .body-two-factor {
        border: none;
    }
        .container-two-factor {
        background-color: #efefef;
        border: none;
    }
}
@media screen and (max-width: 500px) {
    .container-two-factor{
        width: 100vw;
        height: 100vh;
    }
    .title-two-factor {
        font-size: 24px;
        margin: 0px;
    }
    .subtitle-two-factor {
        font-weight: 400;
        margin: 15px 0px;
        font-size: 26px;
    }
    .gradient-button-two-factor {
        width: 90%;
        height: 40px;
    }
    .input-two-factor {
        width: 65px;
        height: 65px;
    }
    .enabled-button-two-factor {
        width: 90%;
    }

}




  

