<footer class="footer">
  <div class="container-footer">
    <div class="container-links-footer">
      <h3 class="title3" style="color: white;">DIMAIA</h3>
    </div>
    <div class="container-logo-footer">
      <img src="assets/img/logo.webp" alt="Descripción de la imagen" style="height: 50px; width: 52px;">
    </div>
  </div>
  <div class="container-social-network-footer">
    <button pButton type="button" icon="pi pi-envelope" class="footerIcon"></button>
    <button pButton type="button" icon="pi pi-facebook" class="footerIcon"></button>
    <button pButton type="button" icon="pi pi-twitter" class="footerIcon"></button>
    <button pButton type="button" icon="pi pi-instagram" class="footerIcon"></button>
  </div>
</footer>
