
<footer class="footer">
  <div class="container-footer">
    <div class="container-links-footer">
      <p> </p>
      <p>DIMAIA</p>
      <p> </p>
      <div class="container-logo-footer">
        <img src="assets/img/IconoFooterGrande(150x142).png" alt="Descripción de la imagen" >
      </div>
    </div>


  </div>


  <div class="container-social-network-footer">
    <button pButton type="button" icon="pi pi-envelope" class="footerIcon"></button>
    <button pButton type="button" icon="pi pi-facebook" class="footerIcon"></button>
    <button pButton type="button" icon="pi pi-twitter" class="footerIcon"></button>
  </div>


</footer>
