.container-links-footer p {
  margin: 20px;
  margin-top: 1rem;
}

.container-footer{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-logo-footer{
  margin-right: 15px;
}

:host ::ng-deep .p-button {
  background: transparent;
  border: transparent;
  box-shadow: none;
}

.container-links-footer .container-logo-footer {
  margin-top: -4.7rem;
  float: right;
  margin-left: 15px;
}

.container-links-footer .container-logo-footer img {
  width: 60px;
  height: 60px;
}

.footer {
  background: var(--gradient-green);
  color: var(--font-color-light);
  text-align: left; /* Alinear texto a la izquierda */
  padding: 20px;
  position: relative;
  height: 120px;
  margin-top: 4rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container-links-footer  {
  font-weight: bold;
}

.container-social-network-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Alinear botones en la parte inferior */
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

}

:host::ng-deep .container-social-network-footer .p-button{
  margin-top: 0%; /* Espaciado superior para separar las redes del contenido superior */
}